<div align="right" style=" font-size: 80%; text-align: center; margin: 0 auto">
<img src="https://raw.githubusercontent.com/Explore-AI/Pictures/master/ExploreAI_logos/Logo blue_dark.png"  style="width:25px" align="right";/>
</div>

## Instructions to students

This challenge is designed to determine how much you have learned so far and will test your knowledge on SQL.

The answers for this challenge should be selected on Athena for each corresponding multiple-choice question. The questions are included in this notebook and are numbered according to the Athena questions. The options for each question have also been included.

Do not add or remove cells in this notebook. Do not edit or remove the `%%sql` comment as it is required to run each cell.

**_Good luck!_**

## Honour code

I,Mgcini Emmanuel Majola, confirm – by submitting this document – that the solutions in this notebook are a result of my own work and that I abide by the EDSA honour code (https://drive.google.com/file/d/1bl28j1Qe5jNyfnd7Tcuyilj-NBEQP_Tt/view?usp=sharing).

Non-compliance with the honour code constitutes a material breach of contract. 

>⚠️ Sharing or uploading this assessment as whole, or in part is a violation of the honour code.

## The dataset

The dataset comprises several tables related to water management and infrastructure, primarily focusing on various aspects such as water sources, treatment plants, and reservoirs. Each table contains essential information regarding different components involved in managing the water resources and sanitation.

Below is an Entity Relationship Diagram (ERD) of the `Water_sanitation` database:

#  

<div align="center" style=" font-size: 80%; text-align: center; margin: 0 auto">
<img src="https://raw.githubusercontent.com/Explore-AI/Pictures/master/water_sanitation_ERD.png"  style="width:650px";/>
</div>

This ER diagram illustrates the relationships between the tables in the dataset.

## Loading the database

Before we begin, we need to prepare our SQL environment.

We can do this by loading the magic command `%load_ext sql`.

In [1]:
# Load and activate the SQL extension to allow us to execute SQL in a Jupyter notebook. 
# If you get an error here, make sure that mysql and pymysql are installed correctly. 

%load_ext sql

Now we can load our database. 

To do this, we will need to ensure we have downloaded the `Water_sanitation.db` sqlite file and have stored it in a known location.

[Download Water_sanitation.db](https://github.com/Explore-AI/Public-Data/raw/master/Water_sanitation.db)

In [2]:
%sql sqlite:///Water_sanitation.db

We can also load our database using a sqlite3 connection for those commands that are not supported by Ipython.

In [3]:
import sqlite3
# Connect to the Water_sanitation database
conn = sqlite3.connect('Water_sanitation.db')

In [9]:
cursor = conn.cursor()

# Questions

Use the given cell below each question to execute the SQL queries to find the correct input from the options provided. Your solution should match one of the multiple-choice questions on Athena.

### Question 1
As data analysts, we are preparing a report on urbanisation trends, and we need to calculate the average population for all the cities.

What is the average population size (rounded to 2 decimal places) of all the cities in our dataset?

#### Options

* 2578203.17
* 5371256.60
* 3455456.32
* 4889967.52

In [4]:
#Your code here
cursor.execute("SELECT AVG(Population) FROM City")
cursor.fetchall()

NameError: name 'cursor' is not defined

### Question 2

A city planner is prioritising infrastructure projects and needs to identify the top 5 cities with the highest population.

Which SQL query correctly retrieves the names of the top 5 cities with the highest population, ordered by population in descending order?

#### Options:

* `SELECT TOP 5 CityName, Population`<br> 
`FROM City`<br>
`ORDER BY Population DESC;`<br>

* `SELECT CityName, Population`<br> 
`FROM City`<br>
`ORDER BY Population DESC LIMIT 5;`<br>

* `SELECT CityName, Population`<br>
`FROM City`<br> 
`ORDER BY Population DESC FETCH FIRST 5 ROWS ONLY;`<br>

* `SELECT CityName, Population `<br>
`FROM City`<br> 
`ORDER BY Population LIMIT 5;`<br>

In [22]:
#Your code here
cursor.execute("SELECT CityName, Population FROM City ORDER BY Population DESC LIMIT 5")
cursor.fetchall()

[('Port harcourt', 9767493),
 ('Gaborone', 9434152),
 ('Soweto', 9307546),
 ('Suez', 9285971),
 ('Abuja', 9152131)]

### Question 3

A city planner is analysing water usage patterns and needs to find the total volume of water used by each city, ordered from the highest usage to the lowest.

Which city has the highest water usage?

#### Options
* Johannesburg
* Abidjan
* Lagos
* Kampala

In [34]:
#Your code here
cursor.execute("SELECT DISTINCT cityname,SUM(Volume) FROM city JOIN watersource ON city.cityid = watersource.cityid JOIN waterusage ON watersource.sourceid = waterusage.sourceid WHERE cityname IN ('Johannesburg','Abidjan','Lagos','Kampala') GROUP BY cityname ORDER BY volume DESC")
cursor.fetchall()

[('Lagos', 1328885.2900000003),
 ('Abidjan', 1621934.4),
 ('Kampala', 1410650.9200000004),
 ('Johannesburg', 805500.15)]

### Question 4
The government wants to identify the top five cities in **Southern Africa** with a population **greater than 1 million**. 

Which cities fall within this category?

#### Options

* Giza, Johannesburg, Abidjan, Cape Town, Addis Ababa
* Brazzaville, Mombasa, Addis Ababa, Bloemfontein, Giza
* Kampala, Cape Town, Abidjan, Freetown, Johannesburg
* Kampala, Johannesburg, Ababa, Cape, Giza

In [42]:
#Your code here
cursor.execute("SELECT CityName, Population, regionname FROM City JOIN region ON city.regionid = region.regionid WHERE regionname LIKE '%South%' AND Population > 1000000 ")
cursor.fetchall()

[('Giza', 5115607, 'South'),
 ('Johannesburg', 5089219, 'South'),
 ('Abidjan', 4840111, 'Southeast'),
 ('Cape town', 3475596, 'Southeast'),
 ('Addis ababa', 6214148, 'Southwest'),
 ('Mombasa', 6505433, 'South'),
 ('Kampala', 2860610, 'Southeast'),
 ('Bloemfontein', 5820903, 'Southeast'),
 ('Brazzaville', 8491153, 'Southwest'),
 ('Freetown', 5070331, 'South')]

### Question 5

A social services agency tasked us with categorising cities based on population size for resource allocation purposes.

They'd like to categorise the cities according to the following population thresholds: <br>
* Populations less than 1,000,000 are considered `Small`.<br>
* Populations greater than 1,000,000 and less than 5,000,000 are considered `Medium`.<br>
* Otherwise, the population is classified as `Large`.

What is the population category for **Kinshasa**?

### Options

* Small<br>
* Medium<br>
* Large<br>
* None<br>

In [11]:
#Your code here
cursor.execute("SELECT CityName, CASE WHEN Population < 1000000 THEN 'Small' WHEN Population BETWEEN 1000000 AND 5000000 THEN 'medium' ELSE 'Large' END AS [Population Threshold] FROM City WHERE Cityname = 'Kinshasa'")
cursor.fetchall()

[('Kinshasa', 'Large')]

### Question 6
The social services agency decides to further categorise population sizes by including  water usage patterns. They want to categorise cities based on their water usage and population. The new categories will look as follows:

* Category A: Cities with a population greater than 1 million and an average water usage volume per month greater than 500,000 gallons are classified as Category A cities. These cities have both a large population and high water usage.
* Category B: Cities with a population between 500,000 and 1 million, inclusive, or an average water usage volume per month between 300,000 and 500,000 gallons, inclusive, are classified as Category B cities. These cities have either a moderate population or moderate water usage, but not both.
* Category C: All other cities that do not meet the criteria for Category A or B are classified as Category C cities. These cities have a relatively lower population and water usage compared to Category A and B cities.

What is the population category for **Kinshasa**?

### Options
* Category A
* Category B
* Category C
* None of the above

In [45]:
#Your code here
cursor.execute("SELECT DISTINCT cityname, CASE WHEN Population > 1000000 AND Volume > 500000 THEN 'Category A' WHEN (Population BETWEEN 500000 AND 1000000) AND (Volume BETWEEN 300000 AND 500000) THEN 'Category B' ELSE 'Category C' END AS [Population Threshold]  FROM city JOIN watersource ON city.cityid = watersource.cityid JOIN waterusage ON watersource.sourceid = waterusage.sourceid WHERE cityname = 'Kinshasa'")
cursor.fetchall()

[('Kinshasa', 'Category C')]

### Question 7
A city planner needs to identify cities with populations below the average population of all cities.

Write a SQL query that correctly retrieves the names of cities with populations below the average population of all cities.

True or false? Abuja falls within this list of cities.

**Hint: It will be easier to find the cities if they're ordered.**

#### Options
* True  <br>
* False

In [51]:
#Your code here
cursor.execute("SELECT Cityname, Population FROM City WHERE population < 5371256.60 ORDER BY Cityname")
cursor.fetchall()

[('Abidjan', 4840111),
 ('Antananarivo', 2586262),
 ('Beira', 3550905),
 ('Cape town', 3475596),
 ('Casablanca', 3998673),
 ('Conakry', 2594819),
 ('Dar es salaam', 3669154),
 ('Durban', 4842918),
 ('Freetown', 5070331),
 ('Giza', 5115607),
 ('Harare', 3244159),
 ('Johannesburg', 5089219),
 ('Kampala', 2860610),
 ('Khartoum', 1026664),
 ('Kumasi', 1148956),
 ('Lagos', 138638),
 ('Lilongwe', 1992252),
 ('Luanda', 689256),
 ('Lusaka', 545084),
 ('Maiduguri', 2087623),
 ('Maseru', 2419921),
 ('Mbuji-mayi', 4202841),
 ("N'djamena", 4849424),
 ('Yaoundé', 3577719)]

### Question 8

A researcher is analysing water quality data and needs to calculate the average chlorine level for each city.

Which SQL query correctly calculates the average chlorine level for each city using a Common Table Expression (CTE)?

#### Options
* `WITH AvgChlorine AS (`<br>
    &nbsp;&nbsp;&nbsp;&nbsp;`SELECT Source.CityID, City.CityName, AVG(WaterQuality.ChlorineLevel) AS AvgChlorine`<br> 
    &nbsp;&nbsp;&nbsp;&nbsp;`FROM WaterQuality` <br>
    &nbsp;&nbsp;&nbsp;&nbsp;`JOIN WaterSource Source ON WaterQuality.SourceID = Source.SourceID`<br> 
    &nbsp;&nbsp;&nbsp;&nbsp;`JOIN City ON Source.CityID = City.CityID` <br>
&nbsp;&nbsp;&nbsp;&nbsp;`)`<br><br>
`SELECT CityID, CityName, AvgChlorine FROM AvgChlorine;`<br>

* `WITH AvgChlorine AS (`<br>
    &nbsp;&nbsp;&nbsp;&nbsp;`SELECT Source.CityID, City.CityName, AVG(WaterQuality.ChlorineLevel) AS AvgChlorine` 
    &nbsp;&nbsp;&nbsp;&nbsp;`FROM WaterQuality ` <br>
    &nbsp;&nbsp;&nbsp;&nbsp;`JOIN City ON Source.CityID = City.CityID` <br>
    &nbsp;&nbsp;&nbsp;&nbsp;`GROUP BY Source.CityID, City.CityName`<br>
&nbsp;&nbsp;&nbsp;&nbsp;`)`<br><br>
`SELECT CityID, CityName, AvgChlorine FROM AvgChlorine;`

* `WITH AvgChlorine AS (`<br>
    &nbsp;&nbsp;&nbsp;&nbsp;`SELECT Source.CityID, City.CityName, AVG(WaterQuality.ChlorineLevel) AS AvgChlorine` <br>
    &nbsp;&nbsp;&nbsp;&nbsp;`FROM WaterQuality`<br>
    &nbsp;&nbsp;&nbsp;&nbsp;`JOIN WaterSource Source ON WaterQuality.SourceID = Source.SourceID` <br>
    &nbsp;&nbsp;&nbsp;&nbsp;`JOIN City ON Source.CityID = City.CityID`<br>
    &nbsp;&nbsp;&nbsp;&nbsp;`GROUP BY Source.CityID, City.CityName`<br>
&nbsp;&nbsp;&nbsp;&nbsp;`)`<br><br>
`SELECT CityID, CityName, AvgChlorine FROM AvgChlorine;`<br>

* `WITH AvgChlorine AS (`<br>
&nbsp;&nbsp;&nbsp;&nbsp;`SELECT CityID, AVG(ChlorineLevel) AS AvgChlorine` <br>
&nbsp;&nbsp;&nbsp;&nbsp;`FROM WaterQuality GROUP BY CityID`<br>
&nbsp;&nbsp;&nbsp;&nbsp;`)`<br><br>
`SELECT CityID, CityName, AvgChlorine FROM AvgChlorine;`

In [12]:
cursor.execute("""WITH AvgChlorine AS (
    SELECT Source.CityID, City.CityName, AVG(WaterQuality.ChlorineLevel) AS AvgChlorine
    FROM WaterQuality
    JOIN WaterSource Source ON WaterQuality.SourceID = Source.SourceID
    JOIN City ON Source.CityID = City.CityID
    GROUP BY Source.CityID, City.CityName
    )

SELECT CityID, CityName, AvgChlorine FROM AvgChlorine""")
cursor.fetchall()

[(1, 'Cairo', 0.8195833333333336),
 (2, 'Lagos', 0.7720833333333333),
 (3, 'Kinshasa', 0.8029166666666668),
 (4, 'Giza', 0.8733333333333332),
 (5, 'Nairobi', 0.7770833333333332),
 (6, 'Johannesburg', 0.8374999999999998),
 (7, 'Abidjan', 0.87),
 (8, 'Casablanca', 0.8283333333333335),
 (9, 'Cape town', 0.8329166666666664),
 (10, 'Durban', 0.7420833333333334),
 (11, 'Alexandria', 0.9145833333333334),
 (12, 'Addis ababa', 0.8529166666666667),
 (13, 'Dar es salaam', 0.8158333333333333),
 (14, 'Accra', 0.9054166666666666),
 (15, 'Khartoum', 0.9070833333333335),
 (16, 'Suez', 0.9370833333333336),
 (17, 'Mombasa', 0.88375),
 (18, 'Kampala', 0.8224999999999998),
 (19, 'Maputo', 0.8566666666666666),
 (20, 'Port harcourt', 0.9091666666666663),
 (21, 'Ouagadougou', 0.8145833333333332),
 (22, 'Lusaka', 0.9029166666666666),
 (23, 'Abuja', 0.7937500000000001),
 (24, 'Bamako', 0.9229166666666667),
 (25, 'Kano', 0.8866666666666668),
 (26, 'Dakar', 0.7608333333333336),
 (27, 'Cotonou', 0.8091666666666667),
 (28, 'Lilongwe', 0.7295833333333333),
 (29, 'Ibadan', 0.8008333333333334),
 (30, 'Luanda', 0.7954166666666665),
 (31, 'Yaoundé', 0.7570833333333332),
 (32, 'Antananarivo', 0.8416666666666665),
 (33, 'Maiduguri', 1.02625),
 (34, 'Harare', 0.8899999999999998),
 (35, 'Conakry', 0.8441666666666666),
 (36, 'Soweto', 0.8233333333333334),
 (37, 'Kisangani', 0.8116666666666669),
 (38, 'Mbuji-mayi', 0.8241666666666666),
 (39, 'Maseru', 0.9424999999999999),
 (40, 'Bloemfontein', 0.8904166666666665),
 (41, "N'djamena", 0.9333333333333331),
 (42, 'Kumasi', 0.8733333333333334),
 (43, 'Brazzaville', 0.8883333333333333),
 (44, 'Lubumbashi', 0.7845833333333333),
 (45, 'Gaborone', 0.8695833333333334),
 (46, 'Beira', 0.7583333333333333),
 (47, 'Monrovia', 0.9404166666666667),
 (48, 'Freetown', 0.8091666666666666)]

### Question 9
A water management agency is conducting a study on the usage of different water sources across cities. They want to calculate the total volume of water used from each water source type and present the results in descending order of total volume.

What is the order of the source types?

#### Options
* Wastewater, Stormwater, Bore water, Groundwater
* Bore water, Wastewater, Stormwater, Groundwater
* Groundwater, Stormwater, Wastewater, Bore water
* Stormwater, Wastewater, Bore water, Groundwater

In [61]:
cursor.execute("SELECT Sourcetype, SUM(Volume) AS [Total Volume] FROM watersource JOIN Waterusage ON watersource.sourceid = waterusage.sourceid GROUP BY sourcetype ORDER BY [Total Volume] DESC ")
cursor.fetchall()

[('Wastewater', 16739327.739999987),
 ('Stormwater', 16282624.900000002),
 ('Bore water', 13652285.320000008),
 ('Groundwater', 10907783.52)]

### Question 10
A water management agency is analysing the water quality data across different cities to identify cities with the highest average pH levels in their water sources. They need to list the top 5 cities with the highest average pH levels in descending order.

What are the top 5 cities with the highest average pH levels?

#### Options
* Cairo, Lagos, Kinshasa, Giza, Nairobi
* Alexandria, abidjan,Suez, Harare, Freetown
* Kinshasa, Conakry, Dar es Salaam, N'Djamena, Antananarivo
* Conakry, Mbuji-Mayi, Kinshasa, Dar es Salaam, Luanda

In [64]:
cursor.execute("""SELECT DISTINCT cityname,AVG(ph) AS PH
FROM city JOIN watersource ON city.cityid = watersource.cityid 
JOIN waterquality ON watersource.sourceid = waterquality.sourceid 
GROUP BY cityname ORDER BY ph DESC""")
cursor.fetchall()

[('Kinshasa', 7.568750000000001),
 ('Conakry', 7.559999999999999),
 ('Dar es salaam', 7.514583333333332),
 ("N'djamena", 7.511666666666667),
 ('Antananarivo', 7.497083333333333),
 ('Bamako', 7.406666666666665),
 ('Ouagadougou', 7.4054166666666665),
 ('Ibadan', 7.4004166666666675),
 ('Mbuji-mayi', 7.387916666666666),
 ('Monrovia', 7.376666666666666),
 ('Lilongwe', 7.350833333333334),
 ('Maseru', 7.350833333333333),
 ('Yaoundé', 7.335833333333334),
 ('Kisangani', 7.323750000000001),
 ('Johannesburg', 7.322083333333334),
 ('Kano', 7.319583333333331),
 ('Port harcourt', 7.316666666666669),
 ('Luanda', 7.316250000000004),
 ('Maputo', 7.314166666666669),
 ('Gaborone', 7.305000000000001),
 ('Abuja', 7.297916666666667),
 ('Soweto', 7.2825),
 ('Cairo', 7.258333333333333),
 ('Mombasa', 7.250833333333333),
 ('Lubumbashi', 7.246666666666666),
 ('Accra', 7.242916666666667),
 ('Lagos', 7.240833333333335),
 ('Casablanca', 7.2391666666666685),
 ('Maiduguri', 7.223333333333332),
 ('Nairobi', 7.219166666666666),
 ('Kumasi', 7.21625),
 ('Beira', 7.212500000000001),
 ('Addis ababa', 7.202083333333333),
 ('Giza', 7.185416666666668),
 ('Abidjan', 7.185416666666665),
 ('Suez', 7.174999999999998),
 ('Harare', 7.167083333333334),
 ('Cape town', 7.162499999999999),
 ('Brazzaville', 7.149166666666666),
 ('Khartoum', 7.12875),
 ('Cotonou', 7.121666666666667),
 ('Bloemfontein', 7.084583333333332),
 ('Kampala', 7.079583333333333),
 ('Lusaka', 7.072916666666665),
 ('Dakar', 7.055833333333332),
 ('Freetown', 7.011250000000001),
 ('Alexandria', 6.92625),
 ('Durban', 6.880416666666666)]

### Question 11

A water treatment company wants to analyse the capacity utilisation of water treatment plants. They need to calculate the utilisation rate for each water treatment plant and list them in descending order of utilisation rate.

`UtilisationRate = Total Volume of Water Used / Capacity of Water Treatment Plant * 100
`
<br>
* **Note that the Capacity column in the WaterTreatmentPlant table is in millions.**

What are the top 3 plants with the highest utilisation rate?

### Options

* Abidja_BEB1AE, Abuj_D3F7DB, Accr_A094F3
* Johannesbur_545E76, Brazzavill_9F1E1E, Freetow_433D56
* Durba_3BBAB6, Cotono_04562C, Abidja_BEB1AE
* Lago_F9A053, Lusak_6368E8, Maser_2A3D7E

In [72]:
cursor.execute("""SELECT DISTINCT plantname,SUM(Volume), SUM(Capacity),SUM(Volume) / SUM(Capacity) * 100 AS UtilisationRate 
FROM city JOIN watersource ON city.cityid = watersource.cityid 
JOIN waterusage ON watersource.sourceid = waterusage.sourceid 
JOIN WaterTreatmentPlant
ON city.cityid = watertreatmentplant.cityid
GROUP BY Plantname
ORDER BY UtilisationRate DESC
""")
cursor.fetchall()

[('Durba_3BBAB6', 1203058.12, 24.84745193021761, 4841776.62715158),
 ('Cotono_04562C', 1181983.54, 33.58472880094046, 3519407.7254746254),
 ('Abidja_BEB1AE', 1621934.4, 49.02611051726659, 3308307.3139745975),
 ('Lago_F9A053', 1328885.2900000003, 41.77390574003271, 3181137.282852881),
 ('Mombas_D3719A', 1293282.36, 42.48943096731768, 3043774.252930749),
 ('Lusak_6368E8', 1011616.5200000003, 35.327394887765365, 2863546.8967182315),
 ('Maser_2A3D7E', 1278851.88, 46.507137764002664, 2749797.002106317),
 ('Sowet_DA56B2', 1186427.5699999998, 47.4815463980401, 2498712.9948425014),
 ('Conakr_6D62A1', 1375500.1400000004, 59.39354730816091, 2315908.381197163),
 ('Maidugur_4D483C',
  1248583.4099999997,
  58.917592189106536,
  2119203.048883003),
 ('Accr_A094F3', 1204667.9999999998, 58.14219231598605, 2071934.2563709612),
 ("N'Djamen_14ADBF",
  1136478.9100000001,
  58.322363167356166,
  1948616.0167050692),
 ('Nairob_9E564C', 1026206.2999999999, 56.12942935660196, 1828285.645806761),
 ('Addis Abab_A0CA29', 1003943.12, 60.048917428013695, 1671875.469201458),
 ('Yaound_4C1C49', 1394810.2399999998, 95.91737283071622, 1454178.9446857441),
 ('Ibada_4051F3', 1272917.0999999999, 102.95290255776183, 1236407.200162063),
 ('Lilongw_E35031', 1251151.68, 101.68236017312549, 1230451.061393319),
 ('Khartou_650301',
  1359164.1100000006,
  110.49697673181045,
  1230046.4231694378),
 ('Giz_A5FD2E', 1300933.2999999998, 106.61372811969116, 1220230.5678115783),
 ('Alexandri_7D67F4', 1351438.62, 125.13448604793447, 1079988.9484360954),
 ('Lubumbash_8985D5',
  956399.5699999998,
  89.05809587544309,
  1073905.2531929528),
 ('Kisangan_09F05D',
  1340937.6900000002,
  125.11090172379748,
  1071799.2369364714),
 ('Port Harcour_775914', 1308694.81, 123.1770212548887, 1062450.4446263025),
 ('Bloemfontei_950ACA',
  991291.0299999999,
  95.03495791299827,
  1043080.411428706),
 ('Harar_82E993', 1155706.72, 140.0383731628524, 825278.5960716739),
 ('Abuj_D3F7DB', 1299851.41, 157.9828515265751, 822780.0659626309),
 ('Cape Tow_B91BA5',
  1229818.1900000002,
  153.16477542443084,
  802938.0035925908),
 ('Luand_DAD8F8', 1137426.91, 141.8182648852542, 802031.3257395282),
 ('Sue_13EC32', 1079694.8800000001, 136.65207574191274, 790104.9977749042),
 ('Bamak_5891FE', 1266958.3799999997, 177.00400132608974, 715779.5137443906),
 ('Antananariv_FB93F8',
  1276018.5499999996,
  181.38846995212322,
  703472.8008548723),
 ('Maput_80F213', 1152961.7100000002, 171.26194261237015, 673215.3637948531),
 ('Kan_3918C2', 1131410.2200000002, 173.31381114473996, 652810.1900979623),
 ('Kampal_4151E2', 1410650.9200000004, 219.11566671926852, 643792.8155120598),
 ('Gaboron_710D37', 1265444.04, 196.58908505222936, 643700.0506227493),
 ('Ouagadougo_1DACCD',
  1413687.7999999998,
  223.33206564129753,
  632998.1303583068),
 ('Dar es Salaa_B815DE',
  1021352.0599999998,
  168.7264830421975,
  605330.0238259372),
 ('Kumas_6BDDE5', 1019402.2099999998, 173.65992213267373, 587010.6340489954),
 ('Daka_B0A7A3', 1370640.4, 238.65307441663637, 574323.3785487128),
 ('Monrovi_A5E0C7', 1212440.9400000002, 212.1093705127309, 571611.2103247362),
 ('Beir_534EEA', 1158583.2100000002, 203.04434351517986, 570606.0015965838),
 ('Casablanc_882801',
  1188697.0199999998,
  219.34566024175277,
  541928.6703415387),
 ('Cair_C7FFDD', 1130909.27, 214.78291848744377, 526535.9452065147),
 ('Mbuji-May_584AA9', 989550.08, 188.3806894314161, 525292.7372687348),
 ('Kinshas_F4F3C9', 1182123.1800000002, 227.1226691723498, 520477.8476352608),
 ('Freetow_433D56', 1067369.3699999999, 225.92283769597404, 472448.6381657292),
 ('Brazzavill_9F1E1E',
  986666.1499999999,
  231.2596004988747,
  426648.7306349909),
 ('Johannesbur_545E76', 805500.15, 203.46739453870921, 395886.5998290235)]

In [19]:
cursor.execute("""SELECT
    wtp.plantname,
    (SUM(wu.volume) / (wtp.capacity * 1000000)) * 100 AS UtilisationRate
FROM
    WaterTreatmentPlant wtp
JOIN
    WaterSource ws ON wtp.cityid = ws.cityid
JOIN
    WaterUsage wu ON ws.sourceid = wu.sourceid
GROUP BY
    wtp.plantid, wtp.plantname, wtp.capacity
ORDER BY
    UtilisationRate DESC
LIMIT 3
""")
cursor.fetchall()

[('Durba_3BBAB6', 116.20263905163783),
 ('Cotono_04562C', 84.46578541139098),
 ('Abidja_BEB1AE', 79.39937553539032)]

### Question 12

A water treatment company wants to analyse the distribution of water treatment plant capacities across different cities. They need to calculate the average capacity of water treatment plants in each city and round the results to the nearest whole number.

What is the average capacity of the water treatment plant in Maputo?

### Options

* 5
* 7
* 2
* 4

In [73]:
cursor.execute("""SELECT DISTINCT cityname, AVG(Capacity)
FROM city
JOIN WaterTreatmentPlant
ON city.cityid = watertreatmentplant.cityid
WHERE cityname = 'Maputo'

""")
cursor.fetchall()

[('Maputo', 7.135914275515422)]

In [20]:
cursor.execute("""SELECT
    c.cityname,
    ROUND(AVG(wtp.capacity)) AS AverageCapacity
FROM
    City c
JOIN
    WaterTreatmentPlant wtp ON c.cityid = wtp.cityid
GROUP BY
    c.cityname
HAVING
    c.cityname = 'Maputo';

""")
cursor.fetchall()

[('Maputo', 7.0)]

### Question 13

A water quality control agency wants to identify cities with consistently high water quality over the past year. They need to calculate the average pH level for each city and then rank the cities based on their average pH levels.

Which SQL query correctly calculates the average pH level for each city and ranks the cities based on their average pH levels?

### Options
* `SELECT CityName, AVG(pH) AS AvgpH,`<br>
       &nbsp;&nbsp;&nbsp;&nbsp;`RANK() OVER (ORDER BY AVG(pH)) AS pH_Rank`<br>
`FROM WaterQuality`<br>
`JOIN WaterSource ON WaterQuality.SourceID = WaterSource.SourceID`<br>
`JOIN City ON WaterSource.CityID = City.CityID`<br>

* `SELECT CityName, AVG(pH) AS AvgpH,`<br>
       &nbsp;&nbsp;&nbsp;&nbsp;`RANK() OVER (ORDER BY AVG(pH) DESC) AS pH_Rank`<br>
`FROM WaterQuality`<br>
`JOIN WaterSource ON WaterQuality.SourceID = WaterSource.SourceID`<br>
`JOIN City ON WaterSource.CityID = City.CityID`<br>
`GROUP BY CityName;`<br>

* `SELECT CityName, AVG(pH) AS AvgpH,`<br>
&nbsp;&nbsp;&nbsp;&nbsp;`ROW_NUMBER() OVER (PARTITION BY CityID ORDER BY AVG(pH) DESC) AS pH_Rank`<br>
`FROM WaterQuality`<br>
`JOIN WaterSource ON WaterQuality.SourceID = WaterSource.SourceID`<br>
`JOIN City ON WaterSource.CityID = City.CityID`<br>
`GROUP BY CityName;`<br>

* `SELECT CityName, AVG(pH) AS AvgpH,`<br>
       &nbsp;&nbsp;&nbsp;&nbsp;`RANK() OVER (PARTITION BY CityName ORDER BY AVG(pH) DESC) AS pH_Rank`<br>
`FROM WaterQuality`<br>
`JOIN WaterSource ON WaterQuality.SourceID = WaterSource.SourceID`<br>
`GROUP BY CityName;`<br>

In [78]:
cursor.execute("""SELECT CityName, AVG(pH) AS AvgpH,
    RANK() OVER (ORDER BY AVG(pH) DESC) AS pH_Rank
FROM WaterQuality
JOIN WaterSource ON WaterQuality.SourceID = WaterSource.SourceID
JOIN City ON WaterSource.CityID = City.CityID
GROUP BY CityName""")
cursor.fetchall()

[('Kinshasa', 7.568750000000001, 1),
 ('Conakry', 7.559999999999999, 2),
 ('Dar es salaam', 7.514583333333332, 3),
 ("N'djamena", 7.511666666666667, 4),
 ('Antananarivo', 7.497083333333333, 5),
 ('Bamako', 7.406666666666665, 6),
 ('Ouagadougou', 7.4054166666666665, 7),
 ('Ibadan', 7.4004166666666675, 8),
 ('Mbuji-mayi', 7.387916666666666, 9),
 ('Monrovia', 7.376666666666666, 10),
 ('Lilongwe', 7.350833333333334, 11),
 ('Maseru', 7.350833333333333, 12),
 ('Yaoundé', 7.335833333333334, 13),
 ('Kisangani', 7.323750000000001, 14),
 ('Johannesburg', 7.322083333333334, 15),
 ('Kano', 7.319583333333331, 16),
 ('Port harcourt', 7.316666666666669, 17),
 ('Luanda', 7.316250000000004, 18),
 ('Maputo', 7.314166666666669, 19),
 ('Gaborone', 7.305000000000001, 20),
 ('Abuja', 7.297916666666667, 21),
 ('Soweto', 7.2825, 22),
 ('Cairo', 7.258333333333333, 23),
 ('Mombasa', 7.250833333333333, 24),
 ('Lubumbashi', 7.246666666666666, 25),
 ('Accra', 7.242916666666667, 26),
 ('Lagos', 7.240833333333335, 27),
 ('Casablanca', 7.2391666666666685, 28),
 ('Maiduguri', 7.223333333333332, 29),
 ('Nairobi', 7.219166666666666, 30),
 ('Kumasi', 7.21625, 31),
 ('Beira', 7.212500000000001, 32),
 ('Addis ababa', 7.202083333333333, 33),
 ('Giza', 7.185416666666668, 34),
 ('Abidjan', 7.185416666666665, 35),
 ('Suez', 7.174999999999998, 36),
 ('Harare', 7.167083333333334, 37),
 ('Cape town', 7.162499999999999, 38),
 ('Brazzaville', 7.149166666666666, 39),
 ('Khartoum', 7.12875, 40),
 ('Cotonou', 7.121666666666667, 41),
 ('Bloemfontein', 7.084583333333332, 42),
 ('Kampala', 7.079583333333333, 43),
 ('Lusaka', 7.072916666666665, 44),
 ('Dakar', 7.055833333333332, 45),
 ('Freetown', 7.011250000000001, 46),
 ('Alexandria', 6.92625, 47),
 ('Durban', 6.880416666666666, 48)]

### Question 14
A water distribution company wants to identify the water sources with the highest and lowest volumes of water usage per month compared to the average volume across all sources. They need to calculate the deviation of each water source's volume from the average volume and order the results by the testing date and the water source.

Which SQL query correctly calculates the deviation of each water source's volume from the average volume across all sources?

### Options

* `SELECT TestDate, SourceName, Volume - AVG(Volume) OVER () AS VolumeDeviation`<br>
    `FROM WaterUsage`<br>
    `JOIN WaterSource ON WaterUsage.SourceID = WaterSource.SourceID`<br>
    `JOIN City ON WaterSource.CityID = City.CityID`<br>
    `ORDER BY TestDate, SourceName;`

* `SELECT TestDate, SourceName, Volume - AVG(Volume) OVER () AS VolumeDeviation`<br>
`FROM WaterUsage`<br>
`JOIN WaterSource ON WaterUsage.SourceID = WaterSource.SourceID`<br>
`JOIN City ON WaterSource.CityID = City.CityID;`<br>

* `SELECT TestDate, SourceName, 1/Volume * 100 OVER () AS VolumeDeviation`<br>
`FROM WaterUsage`<br>
`JOIN WaterSource ON WaterUsage.SourceID = WaterSource.SourceID`<br>
`JOIN City ON WaterSource.CityID = City.CityID`<br>
`ORDER BY TestDate, SourceName;`

* `SELECT SourceName, Volume - AVG(Volume) OVER (PARTITION BY WaterSource.SourceID) AS VolumeDeviation`<br>
`FROM WaterUsage`<br>
`JOIN WaterSource ON WaterUsage.SourceID = WaterSource.SourceID`<br>
`ORDER BY TestDate, SourceName;`

In [83]:
cursor.execute("""SELECT TestDate, SourceName, Volume - AVG(Volume) OVER () AS VolumeDeviation
FROM WaterUsage
JOIN WaterSource ON WaterUsage.SourceID = WaterSource.SourceID
JOIN City ON WaterSource.CityID = City.CityID
ORDER BY TestDate, SourceName""")
cursor.fetchall()

[('2023-01-01 00:00:00', 'Abidjan431', 5744.406354166727),
 ('2023-01-01 00:00:00', 'Abidjan431', 30270.22635416672),
 ('2023-01-01 00:00:00', 'Abuja897', -1198.8936458332755),
 ('2023-01-01 00:00:00', 'Abuja897', -33078.04364583328),
 ('2023-01-01 00:00:00', 'Accra301', 16556.12635416673),
 ('2023-01-01 00:00:00', 'Accra301', 37884.436354166726),
 ('2023-01-01 00:00:00', 'Addis Ababa596', -5436.743645833274),
 ('2023-01-01 00:00:00', 'Addis Ababa596', 16450.996354166724),
 ('2023-01-01 00:00:00', 'Alexandria703', -12286.233645833272),
 ('2023-01-01 00:00:00', 'Alexandria703', 43134.23635416673),
 ('2023-01-01 00:00:00', 'Antananarivo235', 40157.73635416673),
 ('2023-01-01 00:00:00', 'Antananarivo235', 30922.636354166723),
 ('2023-01-01 00:00:00', 'Bamako767', 19372.996354166724),
 ('2023-01-01 00:00:00', 'Bamako767', -9718.863645833277),
 ('2023-01-01 00:00:00', 'Beira887', -19162.963645833275),
 ('2023-01-01 00:00:00', 'Beira887', 26659.58635416672),
 ('2023-01-01 00:00:00', 'Bloemfontein921', -21577.403645833274),
 ('2023-01-01 00:00:00', 'Bloemfontein921', -24460.513645833274),
 ('2023-01-01 00:00:00', 'Brazzaville148', -25204.003645833276),
 ('2023-01-01 00:00:00', 'Brazzaville148', -38592.573645833276),
 ('2023-01-01 00:00:00', 'Cairo839', -48518.09364583327),
 ('2023-01-01 00:00:00', 'Cairo839', -25589.023645833277),
 ('2023-01-01 00:00:00', 'Cape Town160', 43155.63635416672),
 ('2023-01-01 00:00:00', 'Cape Town160', -42473.61364583328),
 ('2023-01-01 00:00:00', 'Casablanca861', -12113.243645833274),
 ('2023-01-01 00:00:00', 'Casablanca861', 12788.906354166727),
 ('2023-01-01 00:00:00', 'Conakry951', 16353.656354166727),
 ('2023-01-01 00:00:00', 'Conakry951', 21171.746354166724),
 ('2023-01-01 00:00:00', 'Cotonou252', -9039.273645833273),
 ('2023-01-01 00:00:00', 'Cotonou252', 38169.00635416672),
 ('2023-01-01 00:00:00', 'Dakar202', 6271.286354166725),
 ('2023-01-01 00:00:00', 'Dakar202', 19644.286354166718),
 ('2023-01-01 00:00:00', 'Dar es Salaam827', -48370.66364583327),
 ('2023-01-01 00:00:00', 'Dar es Salaam827', -41755.503645833276),
 ('2023-01-01 00:00:00', 'Durban396', 23799.83635416672),
 ('2023-01-01 00:00:00', 'Durban396', -46332.423645833274),
 ('2023-01-01 00:00:00', 'Freetown928', -19024.563645833274),
 ('2023-01-01 00:00:00', 'Freetown928', -41971.83364583328),
 ('2023-01-01 00:00:00', 'Gaborone978', 21087.296354166727),
 ('2023-01-01 00:00:00', 'Gaborone978', 16056.86635416672),
 ('2023-01-01 00:00:00', 'Giza504', 33529.94635416672),
 ('2023-01-01 00:00:00', 'Giza504', 27258.97635416672),
 ('2023-01-01 00:00:00', 'Harare201', -4378.233645833272),
 ('2023-01-01 00:00:00', 'Harare201', -12198.183645833276),
 ('2023-01-01 00:00:00', 'Ibadan946', -45453.68364583328),
 ('2023-01-01 00:00:00', 'Ibadan946', -8256.033645833275),
 ('2023-01-01 00:00:00', 'Johannesburg784', -48072.393645833276),
 ('2023-01-01 00:00:00', 'Johannesburg784', -36197.48364583327),
 ('2023-01-01 00:00:00', 'Kampala521', 2081.726354166727),
 ('2023-01-01 00:00:00', 'Kampala521', -25519.513645833274),
 ('2023-01-01 00:00:00', 'Kano794', 32457.186354166726),
 ('2023-01-01 00:00:00', 'Kano794', 43084.54635416673),
 ('2023-01-01 00:00:00', 'Khartoum834', 32011.516354166728),
 ('2023-01-01 00:00:00', 'Khartoum834', 6955.296354166727),
 ('2023-01-01 00:00:00', 'Kinshasa804', -34411.15364583328),
 ('2023-01-01 00:00:00', 'Kinshasa804', 10203.466354166725),
 ('2023-01-01 00:00:00', 'Kisangani995', 30388.87635416673),
 ('2023-01-01 00:00:00', 'Kisangani995', 44202.13635416672),
 ('2023-01-01 00:00:00', 'Kumasi847', 39747.686354166726),
 ('2023-01-01 00:00:00', 'Kumasi847', 28349.686354166726),
 ('2023-01-01 00:00:00', 'Lagos307', 20856.936354166726),
 ('2023-01-01 00:00:00', 'Lagos307', 8116.046354166727),
 ('2023-01-01 00:00:00', 'Lilongwe204', 15260.246354166724),
 ('2023-01-01 00:00:00', 'Lilongwe204', 9566.466354166725),
 ('2023-01-01 00:00:00', 'Luanda819', 26551.326354166726),
 ('2023-01-01 00:00:00', 'Luanda819', 41313.09635416673),
 ('2023-01-01 00:00:00', 'Lubumbashi104', -36620.47364583328),
 ('2023-01-01 00:00:00', 'Lubumbashi104', 36344.19635416672),
 ('2023-01-01 00:00:00', 'Lusaka268', 15826.906354166727),
 ('2023-01-01 00:00:00', 'Lusaka268', -32260.233645833276),
 ('2023-01-01 00:00:00', 'Maiduguri813', 33039.78635416672),
 ('2023-01-01 00:00:00', 'Maiduguri813', 35602.076354166726),
 ('2023-01-01 00:00:00', 'Maputo313', 10724.786354166725),
 ('2023-01-01 00:00:00', 'Maputo313', -36208.33364583328),
 ('2023-01-01 00:00:00', 'Maseru435', -39405.59364583327),
 ('2023-01-01 00:00:00', 'Maseru435', -9415.883645833273),
 ('2023-01-01 00:00:00', 'Mbuji-Mayi255', -24974.333645833274),
 ('2023-01-01 00:00:00', 'Mbuji-Mayi255', -7381.463645833275),
 ('2023-01-01 00:00:00', 'Mombasa837', -19376.553645833275),
 ('2023-01-01 00:00:00', 'Mombasa837', 12040.876354166721),
 ('2023-01-01 00:00:00', 'Monrovia411', 45710.606354166724),
 ('2023-01-01 00:00:00', 'Monrovia411', 45728.89635416672),
 ('2023-01-01 00:00:00', "N'Djamena715", -36101.01364583328),
 ('2023-01-01 00:00:00', "N'Djamena715", -11276.733645833272),
 ('2023-01-01 00:00:00', 'Nairobi437', -24481.173645833274),
 ('2023-01-01 00:00:00', 'Nairobi437', 25157.656354166727),
 ('2023-01-01 00:00:00', 'Ouagadougou767', -21243.943645833275),
 ('2023-01-01 00:00:00', 'Ouagadougou767', 5129.876354166721),
 ('2023-01-01 00:00:00', 'Port Harcourt353', -15268.143645833276),
 ('2023-01-01 00:00:00', 'Port Harcourt353', 9331.116354166727),
 ('2023-01-01 00:00:00', 'Soweto909', -29282.463645833275),
 ('2023-01-01 00:00:00', 'Soweto909', -28801.673645833274),
 ('2023-01-01 00:00:00', 'Suez271', -39681.603645833275),
 ('2023-01-01 00:00:00', 'Suez271', -5291.783645833275),
 ('2023-01-01 00:00:00', 'Yaoundé612', -26461.123645833275),
 ('2023-01-01 00:00:00', 'Yaoundé612', 40658.78635416672),
 ('2023-02-01 00:00:00', 'Abidjan431', -5941.853645833275),
 ('2023-02-01 00:00:00', 'Abidjan431', 40167.64635416672),
 ('2023-02-01 00:00:00', 'Abuja897', -31880.653645833274),
 ('2023-02-01 00:00:00', 'Abuja897', -16911.963645833275),
 ('2023-02-01 00:00:00', 'Accra301', -27625.873645833275),
 ('2023-02-01 00:00:00', 'Accra301', -15117.023645833273),
 ('2023-02-01 00:00:00', 'Addis Ababa596', 42444.92635416673),
 ('2023-02-01 00:00:00', 'Addis Ababa596', -19252.333645833274),
 ('2023-02-01 00:00:00', 'Alexandria703', 4852.636354166723),
 ('2023-02-01 00:00:00', 'Alexandria703', 2938.226354166727),
 ('2023-02-01 00:00:00', 'Antananarivo235', -15699.433645833276),
 ('2023-02-01 00:00:00', 'Antananarivo235', -34794.643645833276),
 ('2023-02-01 00:00:00', 'Bamako767', 36706.856354166724),
 ('2023-02-01 00:00:00', 'Bamako767', 21012.33635416672),
 ('2023-02-01 00:00:00', 'Beira887', -41751.97364583328),
 ('2023-02-01 00:00:00', 'Beira887', 20423.59635416673),
 ('2023-02-01 00:00:00', 'Bloemfontein921', 2987.296354166727),
 ('2023-02-01 00:00:00', 'Bloemfontein921', -46940.55364583328),
 ('2023-02-01 00:00:00', 'Brazzaville148', -44706.503645833276),
 ('2023-02-01 00:00:00', 'Brazzaville148', -5362.483645833272),
 ('2023-02-01 00:00:00', 'Cairo839', 14450.296354166727),
 ('2023-02-01 00:00:00', 'Cairo839', -27959.463645833275),
 ('2023-02-01 00:00:00', 'Cape Town160', -26966.513645833274),
 ('2023-02-01 00:00:00', 'Cape Town160', 3282.2763541667227),
 ('2023-02-01 00:00:00', 'Casablanca861', -40856.65364583328),
 ('2023-02-01 00:00:00', 'Casablanca861', -8296.563645833274),
 ('2023-02-01 00:00:00', 'Conakry951', -5311.763645833278),
 ('2023-02-01 00:00:00', 'Conakry951', 26092.636354166723),
 ('2023-02-01 00:00:00', 'Cotonou252', 21227.47635416672),
 ('2023-02-01 00:00:00', 'Cotonou252', -40913.893645833276),
 ('2023-02-01 00:00:00', 'Dakar202', -6031.223645833277),
 ('2023-02-01 00:00:00', 'Dakar202', 15293.416354166722),
 ('2023-02-01 00:00:00', 'Dar es Salaam827', 436.196354166721),
 ('2023-02-01 00:00:00', 'Dar es Salaam827', -48284.77364583327),
 ('2023-02-01 00:00:00', 'Durban396', -225.79364583327697),
 ('2023-02-01 00:00:00', 'Durban396', -21035.083645833274),
 ('2023-02-01 00:00:00', 'Freetown928', -13896.543645833277),
 ('2023-02-01 00:00:00', 'Freetown928', 47976.06635416673),
 ('2023-02-01 00:00:00', 'Gaborone978', -22360.583645833274),
 ('2023-02-01 00:00:00', 'Gaborone978', 28500.356354166724),
 ('2023-02-01 00:00:00', 'Giza504', 14800.986354166722),
 ('2023-02-01 00:00:00', 'Giza504', -18728.733645833276),
 ('2023-02-01 00:00:00', 'Harare201', -31782.333645833274),
 ('2023-02-01 00:00:00', 'Harare201', -32573.223645833277),
 ('2023-02-01 00:00:00', 'Ibadan946', 41085.16635416672),
 ('2023-02-01 00:00:00', 'Ibadan946', 48725.25635416672),
 ('2023-02-01 00:00:00', 'Johannesburg784', 14445.726354166727),
 ('2023-02-01 00:00:00', 'Johannesburg784', -46599.05364583328),
 ('2023-02-01 00:00:00', 'Kampala521', 45946.80635416672),
 ('2023-02-01 00:00:00', 'Kampala521', 38689.39635416672),
 ('2023-02-01 00:00:00', 'Kano794', -10738.043645833277),
 ('2023-02-01 00:00:00', 'Kano794', 49373.02635416672),
 ('2023-02-01 00:00:00', 'Khartoum834', -36832.033645833275),
 ('2023-02-01 00:00:00', 'Khartoum834', 22352.026354166723),
 ('2023-02-01 00:00:00', 'Kinshasa804', -29555.873645833275),
 ('2023-02-01 00:00:00', 'Kinshasa804', 2560.8463541667224),
 ('2023-02-01 00:00:00', 'Kisangani995', -205.24364583327406),
 ('2023-02-01 00:00:00', 'Kisangani995', 11426.116354166727),
 ('2023-02-01 00:00:00', 'Kumasi847', -46712.823645833276),
 ('2023-02-01 00:00:00', 'Kumasi847', 8425.806354166722),
 ('2023-02-01 00:00:00', 'Lagos307', -2868.1136458332767),
 ('2023-02-01 00:00:00', 'Lagos307', -4012.203645833273),
 ('2023-02-01 00:00:00', 'Lilongwe204', 11347.836354166728),
 ('2023-02-01 00:00:00', 'Lilongwe204', -35642.22364583328),
 ('2023-02-01 00:00:00', 'Luanda819', -13583.193645833278),
 ('2023-02-01 00:00:00', 'Luanda819', -18048.413645833276),
 ('2023-02-01 00:00:00', 'Lubumbashi104', -47943.88364583327),
 ('2023-02-01 00:00:00', 'Lubumbashi104', -13440.173645833274),
 ('2023-02-01 00:00:00', 'Lusaka268', -38648.533645833275),
 ('2023-02-01 00:00:00', 'Lusaka268', -37785.963645833275),
 ('2023-02-01 00:00:00', 'Maiduguri813', -14249.273645833273),
 ('2023-02-01 00:00:00', 'Maiduguri813', -33690.37364583327),
 ('2023-02-01 00:00:00', 'Maputo313', 13879.136354166723),
 ('2023-02-01 00:00:00', 'Maputo313', 0.5363541667247773),
 ('2023-02-01 00:00:00', 'Maseru435', -9266.643645833276),
 ('2023-02-01 00:00:00', 'Maseru435', -8269.573645833276),
 ('2023-02-01 00:00:00', 'Mbuji-Mayi255', 6238.626354166721),
 ('2023-02-01 00:00:00', 'Mbuji-Mayi255', -36293.753645833276),
 ('2023-02-01 00:00:00', 'Mombasa837', 537.6163541667265),
 ('2023-02-01 00:00:00', 'Mombasa837', 16932.17635416673),
 ('2023-02-01 00:00:00', 'Monrovia411', -23012.673645833274),
 ('2023-02-01 00:00:00', 'Monrovia411', 23935.47635416672),
 ('2023-02-01 00:00:00', "N'Djamena715", 16204.61635416672),
 ('2023-02-01 00:00:00', "N'Djamena715", -32095.133645833277),
 ('2023-02-01 00:00:00', 'Nairobi437', -30980.203645833277),
 ('2023-02-01 00:00:00', 'Nairobi437', -37484.29364583328),
 ('2023-02-01 00:00:00', 'Ouagadougou767', 38694.30635416672),
 ('2023-02-01 00:00:00', 'Ouagadougou767', -34844.893645833276),
 ('2023-02-01 00:00:00', 'Port Harcourt353', 2864.8263541667257),
 ('2023-02-01 00:00:00', 'Port Harcourt353', 26942.12635416673),
 ('2023-02-01 00:00:00', 'Soweto909', 9392.696354166721),
 ('2023-02-01 00:00:00', 'Soweto909', 38257.06635416673),
 ('2023-02-01 00:00:00', 'Suez271', -19936.823645833276),
 ('2023-02-01 00:00:00', 'Suez271', -40420.853645833275),
 ('2023-02-01 00:00:00', 'Yaoundé612', -3444.263645833278),
 ('2023-02-01 00:00:00', 'Yaoundé612', 20798.56635416673),
 ('2023-03-01 00:00:00', 'Abidjan431', 39800.70635416673),
 ('2023-03-01 00:00:00', 'Abidjan431', -40879.033645833275),
 ('2023-03-01 00:00:00', 'Abuja897', -21083.183645833276),
 ('2023-03-01 00:00:00', 'Abuja897', 38543.466354166725),
 ('2023-03-01 00:00:00', 'Accra301', -35975.12364583327),
 ('2023-03-01 00:00:00', 'Accra301', -20582.783645833275),
 ('2023-03-01 00:00:00', 'Addis Ababa596', -44109.503645833276),
 ('2023-03-01 00:00:00', 'Addis Ababa596', -18196.193645833275),
 ('2023-03-01 00:00:00', 'Alexandria703', 8905.226354166727),
 ('2023-03-01 00:00:00', 'Alexandria703', 20969.55635416672),
 ('2023-03-01 00:00:00', 'Antananarivo235', -32541.393645833276),
 ('2023-03-01 00:00:00', 'Antananarivo235', -39828.73364583327),
 ('2023-03-01 00:00:00', 'Bamako767', -36113.673645833274),
 ('2023-03-01 00:00:00', 'Bamako767', 26231.19635416672),
 ('2023-03-01 00:00:00', 'Beira887', -44814.003645833276),
 ('2023-03-01 00:00:00', 'Beira887', 38667.13635416672),
 ('2023-03-01 00:00:00', 'Bloemfontein921', -20576.393645833276),
 ('2023-03-01 00:00:00', 'Bloemfontein921', -14868.543645833277),
 ('2023-03-01 00:00:00', 'Brazzaville148', 15761.026354166723),
 ('2023-03-01 00:00:00', 'Brazzaville148', -46263.80364583328),
 ('2023-03-01 00:00:00', 'Cairo839', 47692.67635416673),
 ('2023-03-01 00:00:00', 'Cairo839', 22527.62635416673),
 ('2023-03-01 00:00:00', 'Cape Town160', -13526.733645833272),
 ('2023-03-01 00:00:00', 'Cape Town160', -22660.013645833274),
 ('2023-03-01 00:00:00', 'Casablanca861', -31966.963645833275),
 ('2023-03-01 00:00:00', 'Casablanca861', 11968.846354166722),
 ('2023-03-01 00:00:00', 'Conakry951', 29584.75635416672),
 ('2023-03-01 00:00:00', 'Conakry951', -26417.263645833274),
 ('2023-03-01 00:00:00', 'Cotonou252', 9235.606354166724),
 ('2023-03-01 00:00:00', 'Cotonou252', -9634.593645833273),
 ('2023-03-01 00:00:00', 'Dakar202', 17517.30635416672),
 ('2023-03-01 00:00:00', 'Dakar202', 39293.29635416673),
 ('2023-03-01 00:00:00', 'Dar es Salaam827', -9710.083645833278),
 ('2023-03-01 00:00:00', 'Dar es Salaam827', -31041.013645833274),
 ('2023-03-01 00:00:00', 'Durban396', 10372.036354166725),
 ('2023-03-01 00:00:00', 'Durban396', -6813.543645833277),
 ('2023-03-01 00:00:00', 'Freetown928', -19997.333645833274),
 ('2023-03-01 00:00:00', 'Freetown928', -24775.493645833274),
 ('2023-03-01 00:00:00', 'Gaborone978', 13059.986354166722),
 ('2023-03-01 00:00:00', 'Gaborone978', -41131.323645833276),
 ('2023-03-01 00:00:00', 'Giza504', -36182.643645833276),
 ('2023-03-01 00:00:00', 'Giza504', 4351.596354166722),
 ('2023-03-01 00:00:00', 'Harare201', -37293.08364583328),
 ('2023-03-01 00:00:00', 'Harare201', -1208.1836458332764),
 ('2023-03-01 00:00:00', 'Ibadan946', 37152.89635416672),
 ('2023-03-01 00:00:00', 'Ibadan946', -5277.003645833276),
 ('2023-03-01 00:00:00', 'Johannesburg784', -39074.893645833276),
 ('2023-03-01 00:00:00', 'Johannesburg784', -40848.33364583328),
 ('2023-03-01 00:00:00', 'Kampala521', 47043.44635416672),
 ('2023-03-01 00:00:00', 'Kampala521', -34179.76364583328),
 ('2023-03-01 00:00:00', 'Kano794', -29537.673645833274),
 ('2023-03-01 00:00:00', 'Kano794', 49947.216354166725),
 ('2023-03-01 00:00:00', 'Khartoum834', 19619.12635416673),
 ('2023-03-01 00:00:00', 'Khartoum834', -45434.37364583327),
 ('2023-03-01 00:00:00', 'Kinshasa804', -31423.193645833275),
 ('2023-03-01 00:00:00', 'Kinshasa804', 17486.396354166718),
 ('2023-03-01 00:00:00', 'Kisangani995', 49579.856354166724),
 ('2023-03-01 00:00:00', 'Kisangani995', 1252.5963541667224),
 ('2023-03-01 00:00:00', 'Kumasi847', 17127.416354166722),
 ('2023-03-01 00:00:00', 'Kumasi847', -8016.153645833278),
 ('2023-03-01 00:00:00', 'Lagos307', 6207.516354166728),
 ('2023-03-01 00:00:00', 'Lagos307', 2484.926354166724),
 ('2023-03-01 00:00:00', 'Lilongwe204', 695.6663541667222),
 ('2023-03-01 00:00:00', 'Lilongwe204', -16025.213645833275),
 ('2023-03-01 00:00:00', 'Luanda819', -41402.923645833274),
 ('2023-03-01 00:00:00', 'Luanda819', 36983.66635416672),
 ('2023-03-01 00:00:00', 'Lubumbashi104', -26056.873645833275),
 ('2023-03-01 00:00:00', 'Lubumbashi104', -20979.573645833276),
 ('2023-03-01 00:00:00', 'Lusaka268', -8376.043645833277),
 ('2023-03-01 00:00:00', 'Lusaka268', -5713.743645833274),
 ('2023-03-01 00:00:00', 'Maiduguri813', -48758.22364583328),
 ('2023-03-01 00:00:00', 'Maiduguri813', -5101.503645833276),
 ('2023-03-01 00:00:00', 'Maputo313', 6332.746354166724),
 ('2023-03-01 00:00:00', 'Maputo313', -31129.743645833274),
 ('2023-03-01 00:00:00', 'Maseru435', -37257.12364583327),
 ('2023-03-01 00:00:00', 'Maseru435', 32996.01635416673),
 ('2023-03-01 00:00:00', 'Mbuji-Mayi255', -46933.09364583327),
 ('2023-03-01 00:00:00', 'Mbuji-Mayi255', -18059.943645833275),
 ('2023-03-01 00:00:00', 'Mombasa837', 38348.89635416672),
 ('2023-03-01 00:00:00', 'Mombasa837', -18387.863645833277),
 ('2023-03-01 00:00:00', 'Monrovia411', 45402.47635416672),
 ('2023-03-01 00:00:00', 'Monrovia411', 17353.796354166727),
 ('2023-03-01 00:00:00', "N'Djamena715", -10174.933645833276),
 ('2023-03-01 00:00:00', "N'Djamena715", 46331.66635416672),
 ('2023-03-01 00:00:00', 'Nairobi437', -23502.223645833277),
 ('2023-03-01 00:00:00', 'Nairobi437', -40520.15364583328),
 ('2023-03-01 00:00:00', 'Ouagadougou767', -38605.70364583327),
 ('2023-03-01 00:00:00', 'Ouagadougou767', -14407.823645833276),
 ('2023-03-01 00:00:00', 'Port Harcourt353', 37733.54635416673),
 ('2023-03-01 00:00:00', 'Port Harcourt353', 35184.996354166724),
 ('2023-03-01 00:00:00', 'Soweto909', -47221.09364583327),
 ('2023-03-01 00:00:00', 'Soweto909', 34386.92635416673),
 ('2023-03-01 00:00:00', 'Suez271', 15166.506354166726),
 ('2023-03-01 00:00:00', 'Suez271', 1425.996354166724),
 ('2023-03-01 00:00:00', 'Yaoundé612', 44015.69635416672),
 ('2023-03-01 00:00:00', 'Yaoundé612', 34528.67635416673),
 ('2023-04-01 00:00:00', 'Abidjan431', 4435.096354166722),
 ('2023-04-01 00:00:00', 'Abidjan431', -1041.6936458332784),
 ('2023-04-01 00:00:00', 'Abuja897', 38133.01635416673),
 ('2023-04-01 00:00:00', 'Abuja897', 31701.58635416672),
 ('2023-04-01 00:00:00', 'Accra301', 16622.996354166724),
 ('2023-04-01 00:00:00', 'Accra301', -27972.043645833277),
 ('2023-04-01 00:00:00', 'Addis Ababa596', -19808.973645833277),
 ('2023-04-01 00:00:00', 'Addis Ababa596', 26424.94635416672),
 ('2023-04-01 00:00:00', 'Alexandria703', 49782.65635416673),
 ('2023-04-01 00:00:00', 'Alexandria703', 38497.25635416672),
 ('2023-04-01 00:00:00', 'Antananarivo235', 20459.56635416673),
 ('2023-04-01 00:00:00', 'Antananarivo235', 38618.38635416672),
 ('2023-04-01 00:00:00', 'Bamako767', -27456.803645833275),
 ('2023-04-01 00:00:00', 'Bamako767', -3819.833645833278),
 ('2023-04-01 00:00:00', 'Beira887', 22683.20635416673),
 ('2023-04-01 00:00:00', 'Beira887', -11588.223645833277),
 ('2023-04-01 00:00:00', 'Bloemfontein921', -13750.253645833276),
 ('2023-04-01 00:00:00', 'Bloemfontein921', 27246.156354166727),
 ('2023-04-01 00:00:00', 'Brazzaville148', -2811.0636458332738),
 ('2023-04-01 00:00:00', 'Brazzaville148', -16776.453645833273),
 ('2023-04-01 00:00:00', 'Cairo839', -26393.693645833275),
 ('2023-04-01 00:00:00', 'Cairo839', 8256.426354166724),
 ('2023-04-01 00:00:00', 'Cape Town160', 11383.976354166727),
 ('2023-04-01 00:00:00', 'Cape Town160', -15677.603645833275),
 ('2023-04-01 00:00:00', 'Casablanca861', 7787.746354166724),
 ('2023-04-01 00:00:00', 'Casablanca861', -25289.043645833277),
 ('2023-04-01 00:00:00', 'Conakry951', -44097.43364583328),
 ('2023-04-01 00:00:00', 'Conakry951', 46789.746354166724),
 ('2023-04-01 00:00:00', 'Cotonou252', 10040.436354166726),
 ('2023-04-01 00:00:00', 'Cotonou252', -18258.863645833277),
 ('2023-04-01 00:00:00', 'Dakar202', 13336.206354166723),
 ('2023-04-01 00:00:00', 'Dakar202', 10786.236354166722),
 ('2023-04-01 00:00:00', 'Dar es Salaam827', -24698.233645833276),
 ('2023-04-01 00:00:00', 'Dar es Salaam827', -273.06364583327377),
 ('2023-04-01 00:00:00', 'Durban396', 29917.05635416672),
 ('2023-04-01 00:00:00', 'Durban396', -19814.713645833275),
 ('2023-04-01 00:00:00', 'Freetown928', -16963.533645833275),
 ('2023-04-01 00:00:00', 'Freetown928', 5435.976354166727),
 ('2023-04-01 00:00:00', 'Gaborone978', -20665.653645833274),
 ('2023-04-01 00:00:00', 'Gaborone978', 34775.77635416672),

### Question 15

A water distribution company wants to identify trends in water usage across different regions. They need to calculate the average water usage for each region and determine whether the usage is increasing, decreasing, or remaining stable over the period `1 October 2023 to 31 December 2023`.

Which statement is true about the water usage for the Southeast region over the period?

#### Options
* Water usage in the Southeast region has been increasing.
* Water usage in the Southeast region has been decreasing.
* Water usage in the Southeast region has been stable.
* Water usage in the Southeast region has been varied.

In [127]:
cursor.execute("""SELECT DISTINCT TestDate, Regionname, AVG(Volume) OVER (PARTITION BY Testdate) AS [Average Volume]
FROM WaterUsage
JOIN WaterSource ON WaterUsage.SourceID = WaterSource.SourceID
JOIN City ON WaterSource.CityID = City.CityID
JOIN Region ON City.regionid = region.regionid
WHERE Regionname = 'Southeast' AND testdate BETWEEN '2023-10-01' AND '2023-12-31'
ORDER BY TestDate, regionname""")
cursor.fetchall()

[('2023-10-01 00:00:00', 'Southeast', 62297.4525),
 ('2023-11-01 00:00:00', 'Southeast', 59991.20375000001),
 ('2023-12-01 00:00:00', 'Southeast', 52607.51625)]

### Question 16
A water management agency wants to standardise the format of city names in their database. They need to update all city names to have the first letter capitalised and the remaining letters in lowercase.

Which SQL query correctly updates the city names to have the first letter capitalised and the remaining letters in lowercase?

#### Options
* `UPDATE City`<br>
`SET CityName = UPPER(LEFT(CityName, 1)) || LOWER(RIGHT(CityName, LENGTH(CityName) - 1));` <br>
<br>

* `UPDATE City`<br>
`SET CityName = INITCAP(CityName);`<br>
<br>

* `UPDATE City`<br>
`SET CityName = UPPER(LEFT(CityName, 1)) || LOWER(SUBSTRING(CityName, 2));`<br>
<br>

* `UPDATE City`<br>
`SET CityName = UPPER(SUBSTR(CityName, 1, 1)) || LOWER(SUBSTR(CityName, 2));`

In [100]:
cursor.execute("""SELECT Cityname, UPPER(SUBSTR(CityName, 1, 1)) || LOWER(SUBSTR(CityName, 2)) FROM City""")
cursor.fetchall()

[('Cairo', 'Cairo'),
 ('Lagos', 'Lagos'),
 ('Kinshasa', 'Kinshasa'),
 ('Giza', 'Giza'),
 ('Nairobi', 'Nairobi'),
 ('Johannesburg', 'Johannesburg'),
 ('Abidjan', 'Abidjan'),
 ('Casablanca', 'Casablanca'),
 ('Cape town', 'Cape town'),
 ('Durban', 'Durban'),
 ('Alexandria', 'Alexandria'),
 ('Addis ababa', 'Addis ababa'),
 ('Dar es salaam', 'Dar es salaam'),
 ('Accra', 'Accra'),
 ('Khartoum', 'Khartoum'),
 ('Suez', 'Suez'),
 ('Mombasa', 'Mombasa'),
 ('Kampala', 'Kampala'),
 ('Maputo', 'Maputo'),
 ('Port harcourt', 'Port harcourt'),
 ('Ouagadougou', 'Ouagadougou'),
 ('Lusaka', 'Lusaka'),
 ('Abuja', 'Abuja'),
 ('Bamako', 'Bamako'),
 ('Kano', 'Kano'),
 ('Dakar', 'Dakar'),
 ('Cotonou', 'Cotonou'),
 ('Lilongwe', 'Lilongwe'),
 ('Ibadan', 'Ibadan'),
 ('Luanda', 'Luanda'),
 ('Yaoundé', 'Yaoundé'),
 ('Antananarivo', 'Antananarivo'),
 ('Maiduguri', 'Maiduguri'),
 ('Harare', 'Harare'),
 ('Conakry', 'Conakry'),
 ('Soweto', 'Soweto'),
 ('Kisangani', 'Kisangani'),
 ('Mbuji-mayi', 'Mbuji-mayi'),
 ('Maseru', 'Maseru'),
 ('Bloemfontein', 'Bloemfontein'),
 ("N'djamena", "N'djamena"),
 ('Kumasi', 'Kumasi'),
 ('Brazzaville', 'Brazzaville'),
 ('Lubumbashi', 'Lubumbashi'),
 ('Gaborone', 'Gaborone'),
 ('Beira', 'Beira'),
 ('Monrovia', 'Monrovia'),
 ('Freetown', 'Freetown')]

### Question 17

Furthermore, the water management agency wants to create an area tag that uniquely identifies each area based on the country, region, and city. 

The area tag should consist of the first letter of the first word and the first letter of the second word if the **country name consists of two words**, both capitalised. **Otherwise**, it should include the first two letters of the country name, with the first letter capitalised and the second letter in lowercase. 

**Additionally, for the region and city parts**, the first letter should be capitalised and the subsequent letters should be in lowercase. 

Each part of the area tag should be **separated by a dash**.

**Example:**
An area in South Africa, in the South region and in the city of Johannesburg, would be tagged **SA-Sou-Joh**, while an area in Nigeria, in the eastern region and in the city of Lagos, would be tagged **Ni-Eas-Lag**. 

After constructing the area tags according to the provided instructions, order the results in descending order according to the area tag.

Which three tags appear first in the list?


### Options
* Be-Eas-Cai, Be-Eas-Lag, CV-Nor-Kin
* Al-Nor-Abi, Al-Nor-Acc, Al-Nor-Cot
* Benin-Eas-Cai, Benin-Eas-Lag, Cabo verde-Nor-Kin
* Ca-Sou-Kam, Ca-Sou-Cap, Ca-Sou-Blo

In [113]:
cursor.execute("""SELECT Countryname, Regionname, Cityname, UPPER(SUBSTR(Countryname,1,2))|| '-' ||SUBSTR(Regionname,1,3)||'-'||SUBSTR(Cityname,1,3) AS Area
FROM City 
JOIN Region ON city.regionid = region.regionid
JOIN Country ON city.countryid = country.countryid
ORDER BY Area
""")
cursor.fetchall()

[('Algeria', 'West', 'Alexandria', 'AL-Wes-Ale'),
 ('Angola', 'East', 'Casablanca', 'AN-Eas-Cas'),
 ('Angola', 'East', 'Lagos', 'AN-Eas-Lag'),
 ('Angola', 'South', 'Johannesburg', 'AN-Sou-Joh'),
 ('Benin', 'Northeast', 'Dar es salaam', 'BE-Nor-Dar'),
 ('Benin', 'Northwest', 'Monrovia', 'BE-Nor-Mon'),
 ('Burundi', 'East', 'Accra', 'BU-Eas-Acc'),
 ('Burundi', 'East', 'Kisangani', 'BU-Eas-Kis'),
 ('Burkina Faso', 'Southeast', 'Cape town', 'BU-Sou-Cap'),
 ('Cameroon', 'East', 'Kano', 'CA-Eas-Kan'),
 ('Cameroon', 'West', 'Gaborone', 'CA-Wes-Gab'),
 ('Central African Republic', 'West', 'Durban', 'CE-Wes-Dur'),
 ('Congo', 'East', 'Soweto', 'CO-Eas-Sow'),
 ('Comoros', 'Northwest', 'Beira', 'CO-Nor-Bei'),
 ('Comoros', 'Northeast', 'Mbuji-mayi', 'CO-Nor-Mbu'),
 ('Djibouti', 'Northwest', 'Kumasi', 'DJ-Nor-Kum'),
 ('Djibouti', 'South', 'Freetown', 'DJ-Sou-Fre'),
 ('Egypt', 'Northeast', 'Kinshasa', 'EG-Nor-Kin'),
 ('Egypt', 'Northwest', 'Lilongwe', 'EG-Nor-Lil'),
 ('Equatorial Guinea', 'East', 'Lubumbashi', 'EQ-Eas-Lub'),
 ('Eritrea', 'Northeast', 'Maseru', 'ER-Nor-Mas'),
 ('Eritrea', 'Southeast', 'Abidjan', 'ER-Sou-Abi'),
 ('Ethiopia', 'West', 'Khartoum', 'ET-Wes-Kha'),
 ('Gabon', 'Southeast', 'Bloemfontein', 'GA-Sou-Blo'),
 ('Kenya', 'Northwest', 'Maiduguri', 'KE-Nor-Mai'),
 ('Libya', 'North', 'Yaoundé', 'LI-Nor-Yao'),
 ('Liberia', 'West', 'Port harcourt', 'LI-Wes-Por'),
 ('Mauritius', 'East', 'Ibadan', 'MA-Eas-Iba'),
 ('Mauritania', 'Northeast', 'Luanda', 'MA-Nor-Lua'),
 ('Mali', 'Southeast', 'Kampala', 'MA-Sou-Kam'),
 ('Mozambique', 'East', 'Ouagadougou', 'MO-Eas-Oua'),
 ('Mozambique', 'Southwest', 'Brazzaville', 'MO-Sou-Bra'),
 ('Mozambique', 'South', 'Mombasa', 'MO-Sou-Mom'),
 ('Mozambique', 'West', 'Conakry', 'MO-Wes-Con'),
 ('Namibia', 'East', 'Cairo', 'NA-Eas-Cai'),
 ('Namibia', 'East', 'Nairobi', 'NA-Eas-Nai'),
 ('Namibia', 'Northeast', 'Dakar', 'NA-Nor-Dak'),
 ('Nigeria', 'Northwest', 'Suez', 'NI-Nor-Sue'),
 ('Sao Tome and Principe', 'Southwest', 'Addis ababa', 'SA-Sou-Add'),
 ('Seychelles', 'North', 'Harare', 'SE-Nor-Har'),
 ('South Sudan', 'West', "N'djamena", "SO-Wes-N'd"),
 ('Sudan', 'East', 'Bamako', 'SU-Eas-Bam'),
 ('Tanzania', 'South', 'Giza', 'TA-Sou-Giz'),
 ('Tanzania', 'West', 'Antananarivo', 'TA-Wes-Ant'),
 ('Uganda', 'Northeast', 'Maputo', 'UG-Nor-Map'),
 ('Zambia', 'North', 'Cotonou', 'ZA-Nor-Cot'),
 ('Zimbabwe', 'Northeast', 'Abuja', 'ZI-Nor-Abu'),
 ('Zimbabwe', 'West', 'Lusaka', 'ZI-Wes-Lus')]

In [21]:
cursor.execute("""SELECT
    IFNULL(CASE
            WHEN LENGTH(Country.CountryName) - LENGTH(REPLACE(Country.CountryName, ' ', '')) = 1 THEN UPPER(SUBSTR(Country.CountryName, 1, 1)) || UPPER(SUBSTR(SUBSTR(Country.CountryName, INSTR(Country.CountryName, ' ') + 1), 1, 1))
            ELSE UPPER(SUBSTR(Country.CountryName, 1, 1)) || LOWER(SUBSTR(Country.CountryName, 2, 1))
        END, '') || '-' ||
    UPPER(SUBSTR(Region.RegionName, 1, 1)) || '-' ||
    UPPER(SUBSTR(City.CityName, 1, 1)) AS AreaTag
FROM
    City
JOIN
    Region ON City.RegionID = Region.RegionID
JOIN
    Country ON Region.CountryID = Country.CountryID
ORDER BY
    AreaTag DESC
""")
cursor.fetchall()

[('Ca-S-K',),
 ('Ca-S-C',),
 ('Ca-S-B',),
 ('Ca-S-A',),
 ('CV-N-M',),
 ('CV-N-M',),
 ('CV-N-M',),
 ('CV-N-L',),
 ('CV-N-K',),
 ('CV-N-D',),
 ('CV-N-D',),
 ('CV-N-A',),
 ('Bu-S-B',),
 ('Bu-S-A',),
 ('Bo-W-P',),
 ('Bo-W-N',),
 ('Bo-W-L',),
 ('Bo-W-K',),
 ('Bo-W-G',),
 ('Bo-W-D',),
 ('Bo-W-C',),
 ('Bo-W-A',),
 ('Bo-W-A',),
 ('Be-E-S',),
 ('Be-E-O',),
 ('Be-E-N',),
 ('Be-E-L',),
 ('Be-E-L',),
 ('Be-E-K',),
 ('Be-E-K',),
 ('Be-E-I',),
 ('Be-E-C',),
 ('Be-E-C',),
 ('Be-E-B',),
 ('Be-E-A',),
 ('BF-N-S',),
 ('BF-N-M',),
 ('BF-N-M',),
 ('BF-N-L',),
 ('BF-N-K',),
 ('BF-N-B',),
 ('An-S-M',),
 ('An-S-J',),
 ('An-S-G',),
 ('An-S-F',),
 ('Al-N-Y',),
 ('Al-N-H',),
 ('Al-N-C',)]

In [ ]:
|| '-' ||LEFT(Regionname,3)||'-'||LEFT(Cityname,3)

### Question 18

The water treatment facility management team wants to create a stored procedure to update the capacity of a water treatment plant in the database. They have started writing the code but have found it incomplete.

Which line of code is missing from the following SQL code snippet to complete the stored procedure "UpdatePlantCapacity"?

#### Options
* `ROLLBACK;`<br>
Missing after the BEGIN HANDLER block to rollback the transaction in case of an error.
<br>
<br>
* `PRINT 'Error updating plant capacity.';`<br>
Missing after the BEGIN HANDLER block to print an error message in case of an error.
<br>
<br>
* `THROW;` <br> 
Missing after the BEGIN HANDLER block to re-throw the error and terminate the procedure.
<br>
<br>
* `SIGNAL SQLSTATE '45000' SET MESSAGE_TEXT = 'Error updating plant capacity.';`<br>
Missing after the BEGIN HANDLER block to raise a custom error in case of an error.

In [116]:
"""
CREATE PROCEDURE UpdatePlantCapacity(
    IN p_PlantID INT,
    IN p_NewCapacity FLOAT
)
BEGIN
    DECLARE exit handler for SQLEXCEPTION
    BEGIN
        ROLLBACK;
    END;

    START TRANSACTION;
        UPDATE WaterTreatmentPlant
        SET Capacity = p_NewCapacity
        WHERE PlantID = p_PlantID;
    COMMIT;
END
SIGNAL SQLSTATE '45000' SET MESSAGE_TEXT = 'Error updating plant capacity.';

"""

"\nCREATE PROCEDURE UpdatePlantCapacity(\n    IN p_PlantID INT,\n    IN p_NewCapacity FLOAT\n)\nBEGIN\n    DECLARE exit handler for SQLEXCEPTION\n    BEGIN\n        ROLLBACK;\n    END;\n\n    START TRANSACTION;\n        UPDATE WaterTreatmentPlant\n        SET Capacity = p_NewCapacity\n        WHERE PlantID = p_PlantID;\n    COMMIT;\nEND\nSIGNAL SQLSTATE '45000' SET MESSAGE_TEXT = 'Error updating plant capacity.';\n\n"

### Question 19 
A data entry error has resulted in incorrect pH values being inserted into the WaterQuality table for the city of Ouagadougou. The agency wants to correct these errors and ensure that the corrections are committed only if all updates are successful.

Which of the following SQL code snippets correctly demonstrates the use of a transaction with SAVEPOINT, ROLLBACK, and COMMIT to correct the pH values in the WaterQuality table for the city of **Ouagadougou**?

### Options


* `BEGIN TRANSACTION;`<br>
`UPDATE WaterQuality`<br>
`SET pH = 7.24`<br>
&nbsp;&nbsp;&nbsp;&nbsp;`WHERE SourceID IN (SELECT SourceID FROM WaterSource WHERE CityID = (SELECT CityID FROM City WHERE CityName = 'Ouagadougou'));`<br>
`ROLLBACK;`<br>
<br>
<br>
* `BEGIN TRANSACTION;`<br>
`SAVEPOINT data_correction;`<br>
`UPDATE WaterQuality`<br>
`SET pH = 7.24`<br>
&nbsp;&nbsp;&nbsp;&nbsp;`WHERE SourceID IN (SELECT SourceID FROM WaterSource WHERE CityID = (SELECT CityID FROM City WHERE CityName = 'Ouagadougou'));`<br>
`COMMIT;`<br>
<br>
<br>
* `BEGIN TRANSACTION;`<br>
`SAVEPOINT data_correction;`<br>
`UPDATE WaterQuality`<br>
`SET pH = 7.24`<br>
&nbsp;&nbsp;&nbsp;&nbsp;`WHERE SourceID IN (SELECT SourceID FROM WaterSource WHERE CityID = (SELECT CityID FROM City WHERE CityName = 'Ouagadougou'));`<br>
`ROLLBACK TO SAVEPOINT data_correction;`<br>
`COMMIT;` <br>
<br>
<br>
* `BEGIN TRANSACTION;`<br>
`UPDATE WaterQuality`<br>
`SET pH = 7.24`<br>
&nbsp;&nbsp;&nbsp;&nbsp;`WHERE SourceID IN (SELECT SourceID FROM WaterSource WHERE CityID = (SELECT CityID FROM City WHERE CityName = 'Ouagadougou'));`<br>
`ROLLBACK TO SAVEPOINT data_correction;`<br>
`COMMIT;`<br> 
`IN (SELECT SourceID FROM WaterSource WHERE CityID = (SELECT CityID FROM City WHERE CityName = 'Ouagadougou'));`<br>
`ROLLBACK TO SAVEPOINT data_correction;`<br>
`COMMIT;`<br>

In [122]:
cursor.execute("""

UPDATE WaterQuality
SET pH = 7.24
    WHERE SourceID IN (SELECT SourceID FROM WaterSource WHERE CityID = (SELECT CityID FROM City WHERE CityName = 'Ouagadougou'))""")
cursor.fetchall()

[]

In [121]:
cursor.execute("""BEGIN TRANSACTION;
UPDATE WaterQuality
SET pH = 7.24
    WHERE SourceID IN (SELECT SourceID FROM WaterSource WHERE CityID = (SELECT CityID FROM City WHERE CityName = 'Ouagadougou'));
ROLLBACK TO SAVEPOINT data_correction;
COMMIT;
IN (SELECT SourceID FROM WaterSource WHERE CityID = (SELECT CityID FROM City WHERE CityName = 'Ouagadougou'));
ROLLBACK TO SAVEPOINT data_correction;
COMMIT;
""")
cursor.fetchall()

ProgrammingError: You can only execute one statement at a time.

### Question 20

The water management agency wants to analyse the total population for each country-region combination. They need to concatenate the country name with the region name and calculate the total population for each country-region after grouping by country-region.

If we order the result by the total population in descending order, which country-region combination has the highest population?

### Options
* Burundi
* Benin - East
* Burundi - Southwest	
* Benin

In [14]:
cursor.execute("""SELECT 
    Country.CountryName || '-' || Region.RegionName AS CountryRegion,
    SUM(City.Population) AS TotalPopulation
FROM 
    City
JOIN 
    Region ON City.RegionID = Region.RegionID
JOIN 
    Country ON Region.CountryID = Country.CountryID
GROUP BY 
    CountryRegion
ORDER BY 
    TotalPopulation DESC
LIMIT 1
""")
cursor.fetchall()

[('Benin-East', 80739559)]

In [ ]:
cursor.execute("""SELECT (countryname,regionname), SUM(Population) AS Total
FROM Country 
JOIN Region ON COUNTRY.COUNTRYid = region.COUNTRYid
JOIN City ON city.regionid = region.regionid
ORDER BY Total DESC
""")
cursor.fetchall()

In [6]:
cursor.execute("""SELECT 
    Country.CountryName || '-' || Region.RegionName AS CountryRegion,
    SUM(City.Population) AS TotalPopulation
FROM 
    City
JOIN 
    Region ON City.RegionID = Region.RegionID
JOIN 
    Country ON Region.CountryID = Country.CountryID
GROUP BY 
    CountryRegion
ORDER BY 
    TotalPopulation DESC 
    LIMIT 1
""")
cursor.fetchall()

[('Benin-East', 80739559)]

### Question 21
The water quality testing agency wants to analyse the water quality data for both 2023 and 2024. They need to combine the data from the "WaterQuality" table (for 2023) with the data from the "WaterQuality24" table (for 2024) using a union operation.

After performing the union, what is the average pH and ChlorineLevel over 2023 and 2024.

### Options
* 6.34, 0,87
* 7.5, 0.76
* 7.75, 0.97
* None of the above

In [15]:
#Your code here
cursor.execute("""SELECT AVG(pH) AS AvgpH, AVG(ChlorineLevel) AS AvgChlorineLevel
FROM (
    SELECT pH, ChlorineLevel FROM WaterQuality
    UNION ALL
    SELECT pH, ChlorineLevel FROM WaterQuality24
) AS CombinedData
""")
cursor.fetchall()

[(7.7556293402777925, 0.9660850694444432)]

### Question 22
The water quality control department wants to analyse water quality data for cities with a population greater than 1 million and a pH level higher than 7. They need to filter the data to include only the relevant records based on these conditions.

Based on these filters, which quality test (QualityID) has the highest pH and ChlorineLevels?

### Options
* 1
* 688
* 572
* 241

In [16]:
#Your code here
cursor.execute("""SELECT 
    QualityID,
    MAX(pH) AS MaxpH,
    MAX(ChlorineLevel) AS MaxChlorineLevel
FROM 
    WaterQuality
JOIN 
    WaterSource ON WaterQuality.SourceID = WaterSource.SourceID
JOIN 
    City ON WaterSource.CityID = City.CityID
WHERE 
    City.Population > 1000000
    AND WaterQuality.pH > 7
GROUP BY 
    QualityID
ORDER BY 2,3 DESC
""")
cursor.fetchall()

[(688, 7.01, 1.47),
 (213, 7.01, 0.76),
 (572, 7.01, 0.27),
 (899, 7.02, 1.08),
 (295, 7.02, 1.05),
 (68, 7.03, 0.41),
 (1004, 7.03, 0.37),
 (874, 7.04, 1.34),
 (851, 7.04, 0.89),
 (675, 7.04, 0.26),
 (171, 7.05, 0.8),
 (509, 7.05, 0.61),
 (127, 7.06, 1.17),
 (764, 7.06, 0.94),
 (367, 7.06, 0.93),
 (61, 7.06, 0.75),
 (1115, 7.06, 0.41),
 (54, 7.06, 0.29),
 (637, 7.07, 1.49),
 (181, 7.07, 1.46),
 (739, 7.07, 1.41),
 (126, 7.07, 1.29),
 (294, 7.07, 0.8),
 (330, 7.07, 0.39),
 (1033, 7.08, 1.26),
 (366, 7.08, 0.77),
 (945, 7.08, 0.5),
 (690, 7.08, 0.24),
 (856, 7.09, 1.37),
 (191, 7.09, 1.19),
 (1100, 7.09, 1.09),
 (64, 7.09, 0.77),
 (168, 7.09, 0.51),
 (275, 7.1, 1.42),
 (448, 7.1, 0.63),
 (767, 7.1, 0.35),
 (524, 7.11, 0.82),
 (1113, 7.11, 0.38),
 (60, 7.11, 0.29),
 (128, 7.12, 1.47),
 (745, 7.12, 1.45),
 (716, 7.12, 1.29),
 (132, 7.12, 0.85),
 (271, 7.13, 1.35),
 (478, 7.13, 1.34),
 (500, 7.13, 1.27),
 (266, 7.13, 0.69),
 (402, 7.13, 0.48),
 (53, 7.13, 0.4),
 (731, 7.14, 1.47),
 (869, 7.15, 1.27),
 (52, 7.15, 1.26),
 (698, 7.15, 0.84),
 (390, 7.15, 0.74),
 (746, 7.15, 0.56),
 (1001, 7.15, 0.4),
 (1114, 7.16, 0.85),
 (823, 7.16, 0.64),
 (989, 7.16, 0.59),
 (892, 7.16, 0.43),
 (922, 7.16, 0.36),
 (1116, 7.17, 1.38),
 (457, 7.17, 1.04),
 (98, 7.17, 0.59),
 (178, 7.18, 0.85),
 (226, 7.18, 0.78),
 (1122, 7.18, 0.47),
 (1037, 7.19, 0.95),
 (948, 7.19, 0.8),
 (221, 7.2, 0.95),
 (728, 7.2, 0.77),
 (765, 7.2, 0.67),
 (1000, 7.2, 0.57),
 (912, 7.2, 0.34),
 (399, 7.2, 0.32),
 (705, 7.2, 0.21),
 (200, 7.21, 1.46),
 (1070, 7.21, 1.44),
 (490, 7.21, 1.42),
 (1048, 7.21, 1.18),
 (337, 7.21, 0.86),
 (341, 7.21, 0.78),
 (958, 7.21, 0.56),
 (818, 7.21, 0.29),
 (546, 7.21, 0.21),
 (28, 7.22, 1.3),
 (952, 7.22, 1.25),
 (555, 7.22, 1.09),
 (981, 7.22, 1.06),
 (802, 7.22, 0.91),
 (880, 7.22, 0.54),
 (577, 7.22, 0.2),
 (854, 7.23, 1.38),
 (529, 7.23, 1.33),
 (285, 7.23, 1.29),
 (167, 7.23, 1.09),
 (153, 7.23, 0.68),
 (540, 7.23, 0.37),
 (459, 7.24, 1.45),
 (184, 7.24, 1.44),
 (691, 7.24, 0.8),
 (658, 7.24, 0.42),
 (172, 7.24, 0.4),
 (694, 7.24, 0.3),
 (113, 7.25, 1.28),
 (768, 7.25, 0.78),
 (1029, 7.25, 0.49),
 (293, 7.25, 0.38),
 (145, 7.26, 1.44),
 (1043, 7.26, 1.0),
 (898, 7.26, 0.84),
 (756, 7.26, 0.75),
 (729, 7.26, 0.6),
 (506, 7.26, 0.58),
 (723, 7.26, 0.55),
 (885, 7.26, 0.34),
 (873, 7.26, 0.26),
 (377, 7.27, 0.97),
 (247, 7.27, 0.8),
 (279, 7.27, 0.72),
 (248, 7.27, 0.67),
 (298, 7.27, 0.65),
 (906, 7.27, 0.33),
 (1141, 7.28, 1.27),
 (477, 7.28, 1.23),
 (280, 7.28, 0.59),
 (220, 7.28, 0.26),
 (1146, 7.29, 1.27),
 (347, 7.29, 1.2),
 (684, 7.29, 1.04),
 (894, 7.29, 0.76),
 (709, 7.29, 0.68),
 (160, 7.29, 0.37),
 (193, 7.29, 0.32),
 (47, 7.3, 1.28),
 (505, 7.3, 0.93),
 (170, 7.3, 0.8),
 (1045, 7.31, 1.28),
 (804, 7.31, 1.07),
 (861, 7.32, 1.1),
 (953, 7.32, 0.91),
 (676, 7.32, 0.28),
 (446, 7.32, 0.22),
 (939, 7.33, 1.19),
 (217, 7.33, 1.16),
 (852, 7.33, 0.53),
 (649, 7.34, 1.14),
 (947, 7.34, 0.88),
 (627, 7.34, 0.74),
 (886, 7.34, 0.67),
 (364, 7.35, 1.17),
 (414, 7.35, 0.93),
 (938, 7.35, 0.29),
 (112, 7.36, 1.4),
 (1111, 7.36, 1.31),
 (511, 7.36, 1.27),
 (70, 7.36, 1.04),
 (911, 7.36, 0.97),
 (536, 7.36, 0.52),
 (1120, 7.36, 0.4),
 (1016, 7.36, 0.38),
 (669, 7.36, 0.35),
 (842, 7.37, 0.37),
 (797, 7.37, 0.21),
 (893, 7.38, 1.38),
 (904, 7.38, 0.95),
 (857, 7.38, 0.81),
 (699, 7.38, 0.51),
 (466, 7.39, 1.38),
 (1, 7.39, 1.04),
 (501, 7.39, 0.86),
 (1110, 7.4, 1.06),
 (1074, 7.4, 0.67),
 (633, 7.4, 0.41),
 (312, 7.41, 0.86),
 (510, 7.41, 0.85),
 (186, 7.41, 0.33),
 (519, 7.41, 0.3),
 (889, 7.42, 1.43),
 (376, 7.42, 1.41),
 (287, 7.42, 0.85),
 (841, 7.42, 0.67),
 (114, 7.42, 0.36),
 (978, 7.44, 1.03),
 (865, 7.45, 1.16),
 (1142, 7.45, 1.1),
 (969, 7.45, 0.74),
 (683, 7.45, 0.33),
 (907, 7.46, 1.42),
 (1119, 7.46, 1.42),
 (129, 7.46, 1.26),
 (282, 7.46, 1.0),
 (789, 7.46, 0.43),
 (437, 7.46, 0.35),
 (783, 7.47, 0.68),
 (1042, 7.47, 0.35),
 (570, 7.47, 0.21),
 (94, 7.48, 1.36),
 (512, 7.48, 1.01),
 (1145, 7.48, 0.96),
 (711, 7.48, 0.78),
 (329, 7.48, 0.73),
 (101, 7.49, 0.93),
 (720, 7.49, 0.7),
 (311, 7.49, 0.34),
 (133, 7.5, 1.33),
 (682, 7.5, 1.31),
 (561, 7.5, 1.17),
 (239, 7.5, 0.74),
 (25, 7.5, 0.63),
 (847, 7.5, 0.35),
 (276, 7.51, 1.06),
 (197, 7.51, 0.98),
 (252, 7.51, 0.88),
 (211, 7.51, 0.86),
 (194, 7.51, 0.53),
 (1125, 7.52, 1.14),
 (613, 7.52, 1.1),
 (534, 7.52, 0.47),
 (411, 7.52, 0.43),
 (499, 7.53, 1.46),
 (1076, 7.53, 1.42),
 (1096, 7.53, 0.67),
 (1057, 7.54, 1.36),
 (430, 7.54, 1.28),
 (581, 7.54, 1.13),
 (846, 7.54, 1.11),
 (314, 7.54, 0.67),
 (155, 7.54, 0.28),
 (1080, 7.55, 1.17),
 (1002, 7.55, 1.16),
 (362, 7.55, 1.14),
 (730, 7.55, 1.04),
 (742, 7.55, 0.92),
 (1009, 7.55, 0.74),
 (976, 7.55, 0.7),
 (727, 7.55, 0.68),
 (305, 7.55, 0.65),
 (486, 7.55, 0.35),
 (346, 7.56, 1.45),
 (1107, 7.56, 1.09),
 (418, 7.56, 1.02),
 (672, 7.56, 0.97),
 (433, 7.56, 0.73),
 (967, 7.56, 0.53),
 (538, 7.56, 0.34),
 (1106, 7.57, 1.46),
 (334, 7.57, 1.09),
 (549, 7.57, 0.9),
 (494, 7.57, 0.79),
 (585, 7.57, 0.35),
 (737, 7.57, 0.27),
 (1094, 7.57, 0.2),
 (449, 7.58, 1.12),
 (415, 7.58, 0.72),
 (498, 7.58, 0.67),
 (537, 7.59, 1.32),
 (137, 7.59, 1.16),
 (618, 7.59, 1.14),
 (409, 7.59, 1.13),
 (813, 7.59, 0.65),
 (65, 7.59, 0.54),
 (961, 7.6, 1.02),
 (908, 7.6, 0.93),
 (233, 7.6, 0.79),
 (622, 7.61, 1.13),
 (56, 7.61, 1.09),
 (677, 7.61, 0.83),
 (560, 7.61, 0.82),
 (108, 7.61, 0.7),
 (617, 7.61, 0.24),
 (583, 7.62, 1.41),
 (147, 7.62, 0.75),
 (871, 7.62, 0.75),
 (968, 7.62, 0.75),
 (915, 7.62, 0.71),
 (1079, 7.63, 1.32),
 (717, 7.64, 1.39),
 (553, 7.64, 0.98),
 (31, 7.64, 0.58),
 (1067, 7.64, 0.53),
 (1134, 7.64, 0.21),
 (975, 7.65, 1.35),
 (946, 7.65, 0.89),
 (578, 7.65, 0.57),
 (517, 7.65, 0.27),
 (2, 7.66, 1.37),
 (143, 7.66, 1.31),
 (76, 7.66, 0.98),
 (87, 7.66, 0.98),
 (343, 7.66, 0.42),
 (442, 7.66, 0.29),
 (159, 7.67, 1.14),
 (970, 7.67, 1.14),
 (29, 7.67, 1.1),
 (162, 7.67, 1.03),
 (611, 7.67, 0.55),
 (995, 7.67, 0.54),
 (710, 7.68, 1.34),
 (518, 7.68, 1.28),
 (858, 7.68, 0.81),
 (306, 7.68, 0.68),
 (558, 7.68, 0.34),
 (75, 7.68, 0.32),
 (453, 7.69, 1.32),
 (223, 7.69, 1.05),
 (895, 7.69, 0.84),
 (849, 7.69, 0.48),
 (674, 7.69, 0.21),
 (1039, 7.7, 1.08),
 (140, 7.7, 1.04),
 (203, 7.7, 0.49),
 (222, 7.71, 1.34),
 (1034, 7.71, 0.91),
 (646, 7.71, 0.36),
 (826, 7.71, 0.27),
 (425, 7.72, 1.49),
 (92, 7.72, 1.26),
 (146, 7.72, 1.07),
 (993, 7.72, 0.56),
 (863, 7.73, 1.3),
 (196, 7.73, 1.07),
 (37, 7.73, 1.04),
 (937, 7.73, 0.91),
 (541, 7.73, 0.9),
 (918, 7.73, 0.88),
 (472, 7.73, 0.87),
 (39, 7.73, 0.62),
 (843, 7.73, 0.48),
 (332, 7.73, 0.39),
 (772, 7.73, 0.36),
 (1020, 7.74, 1.23),
 (740, 7.74, 0.94),
 (246, 7.74, 0.43),
 (1128, 7.75, 1.12),
 (557, 7.75, 0.83),
 (979, 7.75, 0.79),
 (227, 7.75, 0.5),
 (410, 7.76, 1.5),
 (464, 7.76, 1.25),
 (426, 7.76, 0.83),
 (1019, 7.77, 1.27),
 (361, 7.77, 0.96),
 (621, 7.77, 0.9),
 (199, 7.77, 0.72),
 (476, 7.77, 0.49),
 (176, 7.78, 0.99),
 (791, 7.79, 1.48),
 (386, 7.79, 1.33),
 (291, 7.79, 1.32),
 (1121, 7.79, 1.24),
 (33, 7.79, 1.06),
 (35, 7.79, 0.82),
 (1058, 7.79, 0.72),
 (957, 7.79, 0.31),
 (413, 7.8, 0.97),
 (12, 7.8, 0.81),
 (824, 7.8, 0.3),
 (204, 7.81, 1.21),
 (1060, 7.81, 0.89),
 (994, 7.81, 0.62),
 (956, 7.81, 0.29),
 (1075, 7.81, 0.29),
 (1140, 7.82, 1.35),
 (921, 7.82, 0.92),
 (370, 7.82, 0.25),
 (1152, 7.83, 0.56),
 (96, 7.83, 0.24),
 (901, 7.83, 0.22),
 (991, 7.84, 0.34),
 (550, 7.85, 0.65),
 (5, 7.85, 0.45),
 (470, 7.85, 0.45),
 (1031, 7.85, 0.32),
 (109, 7.85, 0.21),
 (1131, 7.86, 1.4),
 (661, 7.86, 0.62),
 (919, 7.87, 1.38),
 (1069, 7.87, 1.26),
 (653, 7.87, 0.88),
 (1066, 7.87, 0.82),
 (1056, 7.87, 0.61),
 (775, 7.87, 0.6),
 (278, 7.87, 0.41),
 (302, 7.87, 0.4),
 (900, 7.88, 1.29),
 (628, 7.88, 1.06),
 (225, 7.88, 0.98),
 (568, 7.88, 0.73),
 (513, 7.88, 0.54),
 (289, 7.88, 0.42),
 (445, 7.88, 0.27),
 (796, 7.9, 1.48),
 (277, 7.9, 1.03),
 (1101, 7.9, 0.59),
 (668, 7.9, 0.54),
 (601, 7.9, 0.3),
 (551, 7.9, 0.27),
 (398, 7.9, 0.23),
 (88, 7.91, 1.41),
 (1008, 7.91, 1.39),
 (8, 7.91, 1.03),
 (575, 7.91, 0.26),
 (1035, 7.92, 1.28),
 (270, 7.92, 1.2),
 (175, 7.92, 0.52),
 (483, 7.93, 1.48),
 (987, 7.93, 1.24),
 (1150, 7.93, 0.71),
 (315, 7.94, 1.41),
 (645, 7.94, 0.99),
 (182, 7.94, 0.88),
 (571, 7.94, 0.75),
 (317, 7.94, 0.48),
 (339, 7.94, 0.24),
 (1040, 7.96, 1.22),
 (774, 7.96, 0.95),
 (781, 7.96, 0.87),
 (867, 7.96, 0.59),
 (416, 7.96, 0.23),
 (107, 7.97, 1.44),
 (751, 7.97, 1.27),
 (1133, 7.97, 0.96),
 (786, 7.98, 1.28),
 (951, 7.98, 0.88),
 (58, 7.99, 1.25),
 (1112, 7.99, 0.95),
 (528, 7.99, 0.6),
 (610, 7.99, 0.44),
 (274, 7.99, 0.38),
 (667, 7.99, 0.28),
 (327, 7.99, 0.26),
 (827, 8.0, 1.43),
 (817, 8.0, 0.76),
 (214, 8.0, 0.69),
 (241, 8.0, 0.36),
 (807, 8.01, 0.86),
 (369, 8.01, 0.57),
 (97, 8.02, 0.78),
 (604, 8.02, 0.67),
 (821, 8.02, 0.6),
 (666, 8.02, 0.28),
 (864, 8.03, 1.47),
 (556, 8.03, 1.42),
 (992, 8.03, 1.36),
 (396, 8.03, 1.27),
 (164, 8.03, 0.8),
 (269, 8.03, 0.39),
 (286, 8.03, 0.23),
 (251, 8.04, 1.49),
 (1085, 8.04, 1.38),
 (51, 8.04, 1.18),
 (345, 8.04, 1.03),
 (652, 8.04, 0.97),
 (944, 8.05, 1.19),
 (844, 8.05, 0.52),
 (40, 8.05, 0.36),
 (643, 8.06, 1.23),
 (1050, 8.06, 1.14),
 (801, 8.06, 1.11),
 (215, 8.06, 0.93),
 (983, 8.06, 0.31),
 (67, 8.07, 1.24),
 (853, 8.07, 1.16),
 (216, 8.07, 0.87),
 (218, 8.07, 0.85),
 (984, 8.07, 0.53),
 (960, 8.08, 1.23),
 (166, 8.08, 0.92),
 (1024, 8.08, 0.5),
 (909, 8.09, 1.17),
 (515, 8.09, 0.68),
 (1138, 8.09, 0.32),
 (102, 8.1, 1.09),
 (273, 8.1, 0.99),
 (971, 8.11, 1.29),
 (307, 8.11, 0.22),
 (563, 8.12, 0.92),
 (481, 8.13, 1.47),
 (516, 8.13, 1.36),
 (1018, 8.13, 0.93),
 (1103, 8.14, 1.0),
 (231, 8.15, 1.48),
 (647, 8.15, 1.23),
 (344, 8.15, 0.78),
 (431, 8.15, 0.51),
 (606, 8.16, 1.35),
 (340, 8.16, 1.26),
 (451, 8.16, 0.99),
 (301, 8.16, 0.89),
 (545, 8.16, 0.87),
 (375, 8.16, 0.7),
 (1062, 8.16, 0.66),
 (755, 8.17, 0.75),
 (1087, 8.17, 0.64),
 (281, 8.17, 0.35),
 (724, 8.17, 0.27),
 (905, 8.17, 0.27),
 (701, 8.17, 0.26),
 (4, 8.18, 1.34),
 (955, 8.18, 1.08),
 (300, 8.18, 0.96),
 (722, 8.18, 0.91),
 (335, 8.18, 0.7),
 (654, 8.19, 1.39),
 (383, 8.19, 1.09),
 (11, 8.19, 0.9),
 (1135, 8.19, 0.88),
 (1108, 8.19, 0.46),
 (152, 8.19, 0.27),
 (738, 8.2, 1.37),
 (439, 8.2, 1.03),
 (876, 8.2, 0.81),
 (1051, 8.2, 0.73),
 (177, 8.21, 1.37),
 (288, 8.21, 1.31),
 (761, 8.21, 0.86),
 (579, 8.21, 0.49),
 (702, 8.22, 1.27),
 (810, 8.22, 0.97),
 (183, 8.22, 0.93),
 (1063, 8.22, 0.31),
 (82, 8.23, 1.48),
 (734, 8.23, 0.61),
 (243, 8.23, 0.56),
 (236, 8.23, 0.45),
 (1014, 8.24, 1.43),
 (564, 8.24, 1.41),
 (382, 8.24, 1.33),
 (964, 8.24, 1.13),
 (603, 8.24, 0.6),
 (93, 8.25, 1.48),
 (707, 8.25, 1.33),
 (616, 8.25, 1.0),
 (320, 8.25, 0.4),
 (749, 8.27, 1.22),
 (148, 8.27, 0.33),
 (103, 8.28, 1.43),
 (404, 8.28, 1.27),
 (659, 8.28, 1.18),
 (299, 8.28, 1.01),
 (1013, 8.28, 0.71),
 (436, 8.28, 0.5),
 (530, 8.28, 0.31),
 (648, 8.28, 0.31),
 (440, 8.29, 1.49),
 (1023, 8.29, 1.03),
 (862, 8.29, 0.97),
 (903, 8.29, 0.87),
 (504, 8.29, 0.59),
 (1059, 8.29, 0.48),
 (297, 8.3, 1.42),
 (1047, 8.3, 1.3),
 (144, 8.3, 0.7),
 (634, 8.3, 0.47),
 (651, 8.3, 0.41),
 (389, 8.31, 1.22),
 (219, 8.31, 0.75),
 (435, 8.31, 0.35),
 (44, 8.32, 1.42),
 (365, 8.32, 1.38),
 (954, 8.32, 1.22),
 (542, 8.32, 1.16),
 (522, 8.32, 1.14),
 (917, 8.32, 0.94),
 (980, 8.32, 0.72),
 (447, 8.32, 0.55),
 (324, 8.32, 0.38),
 (232, 8.32, 0.26),
 (1129, 8.33, 1.02),
 (63, 8.33, 0.71),
 (487, 8.33, 0.54),
 (999, 8.34, 1.19),
 (201, 8.34, 1.12),
 (531, 8.34, 1.1),
 (460, 8.35, 1.2),
 (631, 8.35, 0.95),
 (26, 8.35, 0.79),
 (1088, 8.35, 0.34),
 (1036, 8.36, 1.14),
 (916, 8.36, 1.11),
 (479, 8.36, 1.04),
 (156, 8.36, 1.03),
 (638, 8.36, 0.92),
 (608, 8.36, 0.75),
 (1077, 8.36, 0.29),
 (421, 8.37, 0.39),
 (815, 8.38, 1.12),
 (949, 8.38, 0.89),
 (50, 8.38, 0.53),
 (822, 8.39, 1.26),
 (491, 8.39, 1.15),
 (758, 8.39, 0.57),
 (116, 8.39, 0.37),
 (373, 8.39, 0.2),
 (290, 8.4, 1.43),
 (1095, 8.4, 1.4),
 (986, 8.4, 1.22),
 (763, 8.4, 1.11),
 (588, 8.4, 1.09),
 (161, 8.4, 0.83),
 (1127, 8.4, 0.74),
 (450, 8.4, 0.71),
 (115, 8.4, 0.37),
 (467, 8.4, 0.35),
 (941, 8.4, 0.24),
 (36, 8.41, 0.92),
 (713, 8.41, 0.49),
 (1022, 8.42, 1.21),
 (640, 8.42, 0.79),
 (403, 8.42, 0.72),
 (521, 8.43, 1.14),
 (240, 8.43, 0.79),
 (663, 8.43, 0.72),
 (48, 8.43, 0.58),
 (30, 8.44, 1.33),
 (417, 8.44, 0.93),
 (454, 8.44, 0.8),
 (310, 8.44, 0.67),
 (412, 8.44, 0.42),
 (265, 8.44, 0.25),
 (806, 8.45, 0.46),
 (374, 8.46, 1.25),
 (814, 8.46, 1.2),
 (420, 8.46, 1.16),
 (388, 8.46, 0.96),
 (149, 8.46, 0.91),
 (780, 8.46, 0.82),
 (492, 8.46, 0.77),
 (795, 8.46, 0.66),
 (507, 8.46, 0.36),
 (629, 8.47, 0.48),
 (455, 8.47, 0.33),
 (393, 8.48, 1.43),
 (828, 8.48, 1.36),
 (482, 8.48, 1.22),
 (99, 8.48, 0.93),
 (422, 8.48, 0.75),
 (766, 8.48, 0.64),
 (602, 8.48, 0.5),
 (725, 8.48, 0.25),
 (1041, 8.49, 1.18),
 (910, 8.49, 0.72),
 (342, 8.49, 0.65),
 (650, 8.49, 0.2),
 (136, 8.5, 1.04),
 (363, 8.5, 0.9),
 (427, 8.5, 0.78),
 (1007, 8.5, 0.49),
 (790, 8.5, 0.45)]

### Question 23

The water quality control department wants to classify water sources based on their pH levels. They need to categorise water sources as "Low pH" if the pH level is less than 7, "Medium pH" if the pH level is between 7 and 7.5 inclusive, and "High pH" if the pH level is greater than 7.5.

What is the pH category for the **Cairo839** source?

### Options
* Medium pH
* Low pH
* High pH
* None of the above

In [17]:
#Your code here
cursor.execute("""SELECT
    ws.sourcename,
    wq.ph,
    CASE
        WHEN wq.ph < 7 THEN 'Low pH'
        WHEN wq.ph BETWEEN 7 AND 7.5 THEN 'Medium pH'
        WHEN wq.ph > 7.5 THEN 'High pH'
    END AS pH_category
FROM
    WaterSource ws
JOIN
    WaterQuality wq ON ws.sourceid = wq.sourceid
WHERE
    ws.sourcename = 'Cairo839'
""")
cursor.fetchall()

[('Cairo839', 7.39, 'Medium pH'),
 ('Cairo839', 7.66, 'High pH'),
 ('Cairo839', 6.68, 'Low pH'),
 ('Cairo839', 8.18, 'High pH'),
 ('Cairo839', 7.85, 'High pH'),
 ('Cairo839', 6.08, 'Low pH'),
 ('Cairo839', 6.77, 'Low pH'),
 ('Cairo839', 7.91, 'High pH'),
 ('Cairo839', 6.44, 'Low pH'),
 ('Cairo839', 6.73, 'Low pH'),
 ('Cairo839', 8.19, 'High pH'),
 ('Cairo839', 7.8, 'High pH'),
 ('Cairo839', 7.22, 'Medium pH'),
 ('Cairo839', 7.65, 'High pH'),
 ('Cairo839', 8.21, 'High pH'),
 ('Cairo839', 6.58, 'Low pH'),
 ('Cairo839', 7.54, 'High pH'),
 ('Cairo839', 6.63, 'Low pH'),
 ('Cairo839', 7.62, 'High pH'),
 ('Cairo839', 6.24, 'Low pH'),
 ('Cairo839', 7.57, 'High pH'),
 ('Cairo839', 6.07, 'Low pH'),
 ('Cairo839', 6.79, 'Low pH'),
 ('Cairo839', 8.4, 'High pH')]

### Question 24
The water treatment facility management team wants to implement a stored procedure to update the capacity of water treatment plants. They need to handle potential errors gracefully using error handling techniques in MySQL stored procedures and provide informative error messages in case of failures.

Which SQL code snippet correctly creates a stored procedure named "UpdatePlantCapacity" to update the capacity of a water treatment plant and handles potential errors?

### Options

* `CREATE PROCEDURE UpdatePlantCapacity(`<br>
    &nbsp;&nbsp;&nbsp;&nbsp;`IN PlantID INT,`<br>
    &nbsp;&nbsp;&nbsp;&nbsp;`IN NewCapacity REAL`<br>
&nbsp;&nbsp;&nbsp;&nbsp;`)`<br>
`BEGIN`<br>
    &nbsp;&nbsp;&nbsp;&nbsp;`UPDATE WaterTreatmentPlant`<br>
    &nbsp;&nbsp;&nbsp;&nbsp;`SET Capacity = NewCapacity`<br>
    &nbsp;&nbsp;&nbsp;&nbsp;`WHERE PlantID = PlantID;`<br><br>
    &nbsp;&nbsp;&nbsp;&nbsp;`SIGNAL SQLSTATE '45000' SET MESSAGE_TEXT = 'An attempt to signal an error without a handler.';`<br>
`END;`<br>
<br>
<br>
* `CREATE PROCEDURE UpdatePlantCapacity(`<br>
    &nbsp;&nbsp;&nbsp;&nbsp;`IN PlantID INT,`<br>
    &nbsp;&nbsp;&nbsp;&nbsp;`IN NewCapacity REAL`<br>
`)`<br>
`BEGIN`<br>
    &nbsp;&nbsp;&nbsp;&nbsp;`UPDATE WaterTreatmentPlant`<br>
    &nbsp;&nbsp;&nbsp;&nbsp;`SET Capacity = NewCapacity`<br>
    &nbsp;&nbsp;&nbsp;&nbsp;`WHERE PlantID = PlantID;`<br><br>
    &nbsp;&nbsp;&nbsp;&nbsp;`SIGNAL SQLSTATE '45000' SET MESSAGE_TEXT = 'An attempt to signal an error without a handler.';`<br>
`END;`<br>
<br>
<br>
* `CREATE PROCEDURE UpdatePlantCapacity(`<br>
    &nbsp;&nbsp;&nbsp;&nbsp;`IN PlantID INT,`<br>
    &nbsp;&nbsp;&nbsp;&nbsp;`IN NewCapacity REAL`<br>
&nbsp;&nbsp;&nbsp;&nbsp;`)`<br>
`BEGIN`<br>
    &nbsp;&nbsp;&nbsp;&nbsp;`UPDATE WaterTreatmentPlant`<br>
    &nbsp;&nbsp;&nbsp;&nbsp;`SET Capacity = NewCapacity`<br>
    &nbsp;&nbsp;&nbsp;&nbsp;`WHERE PlantID = PlantID;`<br>
`END;`<br>
<br>
<br>
* `CREATE PROCEDURE UpdatePlantCapacity(`<br>
    &nbsp;&nbsp;&nbsp;&nbsp;`IN PlantID INT,`<br>
    &nbsp;&nbsp;&nbsp;&nbsp;`IN NewCapacity REAL`<br>
&nbsp;&nbsp;&nbsp;`)`<br>
`BEGIN`<br>
    &nbsp;&nbsp;&nbsp;&nbsp;`DECLARE EXIT HANDLER FOR SQLEXCEPTION`<br>
    &nbsp;&nbsp;&nbsp;&nbsp;`BEGIN`<br>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;`SIGNAL SQLSTATE '45000' SET MESSAGE_TEXT = 'An error occurred while updating plant capacity.';`<br>
    &nbsp;&nbsp;&nbsp;&nbsp;`END;`<br><br>
    &nbsp;&nbsp;&nbsp;&nbsp;`UPDATE WaterTreatmentPlant`<br>
    &nbsp;&nbsp;&nbsp;&nbsp;`SET Capacity = NewCapacity`<br>
    &nbsp;&nbsp;&nbsp;&nbsp;`WHERE PlantID = PlantID;`<br>
`END;`

### Question 25
The water treatment facility management team wants to create a stored procedure to insert a new water treatment plant into the database. They need to ensure that if the insertion fails due to a **primary key violation**, the procedure gracefully handles the error and provides a custom error message.

A data analyst is struggling to create the procedure to fulfil this task, what is wrong with his code?


#### Options

* The code block does not handle errors properly because it does not use the correct error code for primary key violations.
* The code block does not handle errors properly because it checks for a plant with the same name already existing, rather than a primary key violation based on the PlantID.
* The code block does not handle errors properly because it does not include a condition handler for the primary key violation based on the PlantID.
* The code block does not handle errors properly because it does not provide a detailed error message.

In [ ]:
"""
DELIMITER //

CREATE PROCEDURE InsertNewPlant
    (IN p_PlantID INT,
     IN p_PlantName NVARCHAR(255),
     IN p_Capacity FLOAT)
BEGIN
    DECLARE duplicate_key CONDITION FOR SQLSTATE '23000';
    DECLARE CONTINUE HANDLER FOR duplicate_key
        BEGIN
            SIGNAL SQLSTATE '45000' SET MESSAGE_TEXT = 'A plant with the same ID already exists.';
        END;
        
    INSERT INTO WaterTreatmentPlant (PlantID, PlantName, Capacity)
    VALUES (p_PlantID, p_PlantName, p_Capacity);
    
END //

DELIMITER ;

"""

### Question 26
A water quality testing agency wants to update the pH values of water samples in the WaterQuality table for a specific city and a certain month. However, they want to ensure that all updates are either successfully committed or rolled back if any errors occur during the process.

Write a query that uses a transaction with COMMIT and ROLLBACK to update the pH value in the WaterQuality table for the city of "Ouagadougou" for January 2023 to -12.

What is the updated average pH for the city of "Ouagadougou" now?

**Hint: In order to execute transactions in this notebook, we need to use sqlite3 commands.**

**This query modifies a value in the dataset. Consequently, to rerun the query or queries from previous questions, please download and use a fresh copy of the dataset.**

### Options
* 5.74
* 7.74
* 7.41
* -12

In [18]:
#Your code here
import sqlite3
 
# Establish connection and create a cursor
conn = sqlite3.connect('/mnt/data/water_quality.db')  # Replace with the actual path to your database file
cur = conn.cursor()
 
# Step 1: Retrieve source IDs
cur.execute("""
    SELECT ws.sourceid
    FROM WaterSource ws
    JOIN City c ON ws.cityid = c.cityid
    WHERE c.cityname = 'Ouagadougou'
""")
source_ids = cur.fetchall()
source_ids = tuple([id[0] for id in source_ids])
 
# Step 2: Update WaterQuality records
try:
    conn.execute("BEGIN TRANSACTION;")
    update_query = f"""
        UPDATE WaterQuality
        SET ph = -12
        WHERE sourceid IN {source_ids}
        AND strftime('%Y-%m', testdate) = '2023-01';
    """
    conn.execute(update_query)
    # Assuming successful execution
    conn.execute("COMMIT;")
except Exception as e:
    print("Error occurred:", e)
    conn.execute("ROLLBACK;")
 
# Step 3: Calculate the updated average pH
cur.execute("""
    SELECT AVG(wq.ph) AS average_ph
    FROM WaterQuality wq
    JOIN WaterSource ws ON wq.sourceid = ws.sourceid
    JOIN City c ON ws.cityid = c.cityid
    WHERE c.cityname = 'Ouagadougou'
""")
average_ph = cur.fetchone()[0]
 
# Close the connection
conn.close()

OperationalError: unable to open database file

#  

<div align="center" style=" font-size: 80%; text-align: center; margin: 0 auto">
<img src="https://raw.githubusercontent.com/Explore-AI/Pictures/master/ExploreAI_logos/EAI_Blue_Dark.png"  style="width:200px";/>
</div>